[2017-02-21 03:06] wkentaro opened #1 "Support weight/bias-wise learning rate setting"
As in https://github.com/shelhamer/fcn.berkeleyvision.org/blob/master/voc-fcn32s/net.py#L8

[2017-02-21 03:07] wkentaro opened #2 "Improve weight initialization"
As in https://github.com/shelhamer/fcn.berkeleyvision.org/blob/master/voc-fcn32s/solve.py#L25

[2017-02-21 03:07] wkentaro opened #3 "Use seg11val.txt of orignal paper"

[2017-02-21 03:10] wkentaro opened #4 "Support FCN32s copied from Caffe"

[2017-02-26 05:20] #2 closed, assigned to wkentaro

[2017-02-26 05:21] #3 closed, assigned to wkentaro

[2017-02-26 05:21] #4 closed, assigned to wkentaro

[2017-03-13 07:19] yu-changqian opened #5 "Inconsistent Tensor Size"
When I implement the VOC2012 Dataset based your code, it occurs an error "incosistent tensor size". The code about dataset is same with yours. But I add some test code as below:
[code]
Did you encounter this problem?

[2017-03-13 07:24] wkentaro commented on #5
Currently there's not image resizing or cropping for batch training in my code, so you need to set batch_size=1.
If you'd like to try batch training, you need to crop/resize/centerize images to have same size because VOCDataset contains various sized images.

[2017-03-13 07:31] yu-changqian commented on #5
Ok. It works.Thank you.So I have to implement a co-transform for the input and target images and then I can set the batch_size = 4(any just not 1 )?

[2017-03-13 08:16] wkentaro commented on #5
Yeah. Note that you need to use `NEAREST` for resizing label image, not `BILINEAR`.

[2017-03-13 12:43] yu-changqian commented on #5
Why? How different about these ways?

[2017-03-13 12:54] wkentaro commented on #5
Label image has categorical values, not continuous, so we need to interpolate with nearest values at transforming.

[2017-03-13 12:56] yu-changqian commented on #5
OK. I get it. Thank you very much for your help.

[2017-03-13 12:57] #5 closed, assigned to nobody

[2017-03-16 08:12] FuriouslyCurious opened #6 "BC Support"
Hi WKentaro,

Thank you for the implementation!  I am new to PyTorch and I will try this out for an upcoming project.

Does your implementation include Bottleneck (BC) blocks?  It seems to improve training time significantly.

- FC

[2017-03-16 08:20] FuriouslyCurious commented on #6
My apologies - I mistakenly thought that this repo was DenseNet FCN Tiramisu implementation.

https://arxiv.org/pdf/1611.09326v1.pdf

[2017-03-16 08:20] #6 closed, assigned to nobody

[2017-03-16 09:37] yu-changqian opened #7 "Discussion about the loss function"
Hi, I did an experiment about the loss function:
[code]
I find the code segment with `view(-1, c)` or without both works.Why? In my opinion, the code without `view(-1, c)` is the true one. Or, in the memory, the both are actually the same. How about your idea?

[2017-03-16 09:43] wkentaro commented on #6
That would be fine of supporting DenseNet FCN as well..

[2017-03-16 10:33] wkentaro commented on #7
Do you mean both
`log_p = log_p.tranpose(1, 2).transpose(2, 3).contiguous()`
and
`log_p = log_p.tranpose(1, 2).transpose(2, 3).contiguous().view(-1, c)`
works?

[2017-03-16 10:34] wkentaro commented on #7
If so, maybe it is automatically reshaped in F.nll_loss.

[2017-03-19 00:14] Lyken17 opened #9 "A bug in loss computation"
Hi author

First I would like to thank for your sharing. During training, I notice the loss (around 30000) is obviously larger than fcn experiment on caffe(0.4 ~ 3.0). After reading your code, I find the cause. In your code [trainer.py](https://github.com/wkentaro/pytorch-fcn/blob/master/torchfcn/trainer.py#L29),
[code]

Note here `mask` is a `torch.ByteTensor`, which means the data is stored in a

[2017-03-19 00:19] Lyken17 commented on #9
The experiment result after fix
![log](https://cloud.githubusercontent.com/assets/7783214/24077093/109ec344-0bff-11e7-92a1-1ce8e936978b.png)

[2017-03-19 00:26] wkentaro commented on #9
Thanks, but the result should not be affected because I use `size_average=False` in trainer.py in actual.
And I think it is same configuration with the original project: https://github.com/shelhamer/fcn.berkeleyvision.org/blob/master/voc-fcn32s/net.py#L64

[2017-03-19 05:49] Lyken17 commented on #9
Oops, careless me. I forget I have turned on the size_average. But thanks to it, a potential bug is avoided. XD

[2017-03-19 05:49] #9 closed, assigned to nobody

[2017-03-19 08:03] wkentaro commented on #9
Yeah, Thanks!

[2017-03-21 12:29] yu-changqian commented on #7
Yes. They both works.

[2017-03-22 16:04] sophia723 opened #10 "How to run the code"
Hi, can you provide simple instructions about how to train, do inference and get dataset?

[2017-03-23 03:01] RongzhaoZhang opened #11 "How to install the module named 'fcn'?"
Now after I ran `python setup.py install`, I got the following error:
[code]

[2017-03-23 08:56] wkentaro commented on #11
`pip install -r requirements.txt`

[2017-03-23 08:56] #11 closed, assigned to nobody

[2017-03-23 13:29] #10 closed, assigned to nobody

[2017-03-25 05:14] lwye opened #13 "Not found fcn.utils."
Hi,
I cannot find 'fcn.utils' function, which is used in 'trainer.py' for fcn.utils.label_accuracy_score and fcn.utils.visualize_segmentation.

[2017-03-25 05:19] wkentaro commented on #13
https://github.com/wkentaro/pytorch-fcn/issues/11#issuecomment-288655200

[2017-03-25 05:19] #13 closed, assigned to nobody

[2017-03-26 06:12] DonghyunK opened #14 "Mini-batch and Multiple-gpu"
Hi,

I want to use batch size more than 1.

So, I changed batch_size to 4.
e.g.)
train_loader = torch.utils.data.DataLoader(
        torchfcn.datasets.SBDClassSeg(root, split='train', transform=True),
        batch_size=4, shuffle=True, **kwargs)

But, it raises an error so that I could not use it.

Could you please please let me know how to modify it?

and, is it possible to use multiple gpus by

[2017-03-26 07:40] DonghyunK opened #15 "FCN8s"
Hi,

May I ask that when you update FCN8s or FCN 16s?

Thanks!

[2017-03-26 11:10] wkentaro commented on #14
e.g.)
train_loader = torch.utils.data.DataLoader(
torchfcn.datasets.SBDClassSeg(root, split='train', transform=True),
batch_size=4, shuffle=True, **kwargs)
But, it raises an error so that I could not use it.
Could you please please let me know how to modify it?

You need to use consistent image size.
See comment here: https://github.com/wkentaro/pytorch-fcn/issues/5#issuecomment-286032567

[2017-03-26 11:11] wkentaro commented on #14
It is possible, and I use multi-gpus in apc example: https://github.com/wkentaro/pytorch-fcn/blob/master/examples/apc/train_fcn32s.py#L60

[2017-03-26 11:13] wkentaro commented on #15
Currently, I'm working on my personal projects, so maybe when I have time for that or I need it.
Chainer implementation is [here](https://github.com/wkentaro/fcn) and it serves FCN16s and FCN8s as well.

[2017-03-26 14:01] DonghyunK commented on #14
Thank you for your help!

[2017-03-26 14:01] #14 closed, assigned to nobody

[2017-03-26 14:15] DonghyunK commented on #15
Thank you for your help!

If I implement those by myself, is it enough to make fcn8s and fcn16s model (fcn8s.py)?

Or is there other thing need to be changed?

Thanks!

[2017-03-26 16:14] wkentaro commented on #15
For training, FCN16s needs pre-trained FCN32s, and FCN8s needs both others, so you need to write some weight copying code in training script.

[2017-03-26 23:31] #15 closed, assigned to nobody

[2017-03-26 23:36] DonghyunK opened #16 "Gradients for Loss function"
Hi,

I have a question for loss function,

`loss = F.nll_loss(log_p, target, weight=weight, size_average=False)
    if size_average:
        loss /= mask.sum().data[0]`

Whether 'size_average' is True or False, scales of gradients for the loss function are different.

This may be a problem because different scales of gradients may impact on how we set learning rate.

Is this the reason you use ver

[2017-03-26 23:46] wkentaro commented on #16
Yeah, this kind of loss function's configurations are discussed in the original paper published in PAMI.

[2017-03-26 23:51] DonghyunK commented on #16
Thank you for quick response!

Are you talking about the FCN paper published at PAMI?

Could you please explain it more in detail?

I think it also matters with a batch size.

[2017-03-27 00:54] wkentaro commented on #16
Yeah. They compares performances with:

- loss accumulation about batch
- size_average=True
- size_average=False with batch_size=1

and they say the last one is best for VOC dataset.
But I think we should try all of them with other datasets.

[2017-03-27 04:30] DonghyunK commented on #16
Thank you, but I am still very confusing.

Normally, a gradient of cross entropy with softmax is y^−y.

[http://stats.stackexchange.com/questions/149139/vectorization-of-cross-entropy-loss](url)

In the trainer.py,

`loss = cross_entropy2d(score, target, size_average=False)`
`loss /= len(data)`

I think loss is divided by the size of batch.
Therefore, the gradient for cross entropy  will be  (y^−y

[2017-03-28 19:03] lwye opened #17 "Nan error while training"
Hello, when I was training the network after tuning the lr=1e4 which is the same as in FCN paper?
Why does it raise a nan error in loss? (it is ok if I use the lr set by your original script)

[2017-03-29 15:14] acgtyrant opened #18 "ModuleNotFoundError: No module named 'v1'"
[code]

[2017-03-29 15:19] wkentaro commented on #18
Are you using python3, right?
Currently I've never tried it.
Python3 does not support importing from current directory by default.
so you need to change `from v1 ..` to `from .v1 ...`.

[2017-03-29 15:20] wkentaro commented on #17
I'm using same lr same as the original paper.

[2017-03-29 15:23] acgtyrant commented on #18
Yes, I am using Python 3.

`from .v1 ...` works. Thank you! I will try to make this project be compatible with Python 3.

[2017-03-29 15:23] #18 closed, assigned to nobody

[2017-03-29 18:09] lwye commented on #17
Thanks for your response.
The training method seems to be changed for in PAMI paper.

BTW,  Is previous lr=1e4 used in normalised loss?

[2017-03-30 10:15] wkentaro commented on #17
Yeah.

Possibly. You need to tune the learning rate when you change the loss func.

[2017-03-30 18:15] lwye commented on #17
This makes sense. Thanks_

[2017-03-31 00:37] #16 closed, assigned to nobody

[2017-03-31 01:45] #17 closed, assigned to nobody

[2017-04-26 07:57] apchenstu opened #20 ""import fcn" error"
Hi, sorry about disturbing you, i got an error when run  voc/train_fcn322.py, i can't import fcn, is that i need addition package? Thanks.

[2017-04-26 08:02] wkentaro commented on #20
https://github.com/wkentaro/pytorch-fcn/issues/11#issuecomment-288655200

[2017-04-26 08:02] #20 closed, assigned to wkentaro

[2017-04-26 08:06] apchenstu commented on #20
oh, thanks~

[2017-05-06 14:24] sophia723 opened #21 "speedtest"
Hi,

Thanks for sharing the code. I wonder that what kind of GPU were you using for speed test? When I ran the speed test on GTX 1080 (8G memory), the Elapsed time for chainer is: 404.87 [s / 1000 evals] and the for pytorch, it is 178.93 [s / 1000 evals]. And whenever I try to run it with the VOC dataset, it has the out of memory error, so I wonder if you can share your experiment environment, suc

[2017-05-09 13:08] zheshiyige opened #22 "strange error unknown"
Hi,
       When I run the examples/voc/train_fcn32s.py.  There is a strange error
       File "train_fcn32s.py", line 46, in main
    model = torchfcn.models.FCN32s(n_class=21, deconv=deconv)
   TypeError: __init__() got an unexpected keyword argument 'deconv'
    could you tell me what's wrong with this error?
Thanks and Best Regards,

[2017-05-09 13:14] #22 closed, assigned to wkentaro

[2017-05-09 13:14] wkentaro commented on #22
Thank you for the report! I fixed it.

[2017-05-09 15:41] zheshiyige opened #24 "load_state_dict error"
Hi,
       Recently, I run the examples/voc/train_fcn32s.py, and encountered another error:
       Traceback (most recent call last):
  File "train_fcn32s.py", line 101, in <module>
    main()
  File "train_fcn32s.py", line 55, in main
    vgg16.load_state_dict(torch.load(pth_file))
  File "/home/zheshiyige/anaconda2/lib/python2.7/site-packages/torch/nn/modules/module.py", line 331, in load_state_

[2017-05-09 15:52] wkentaro commented on #24
pytorch-fcn depends on old torchvision (0.1.7)
Please run `pip install 'torchvision==0.1.7'` (ref: https://github.com/wkentaro/pytorch-fcn/blob/master/requirements.txt#L5)

[2017-05-09 16:28] #24 closed, assigned to wkentaro

[2017-05-09 16:36] wkentaro commented on #21
I'm testing on TitanX Pascal 12GB memory GPU, and the training takes around 2 days with VOC dataset.

[2017-05-09 17:12] zheshiyige opened #25 "AttributeError: ' module object has no attribute 'utils'"
Hi,
       So sorry to bother you again!
       Now, there is a new error
       Traceback (most recent call last):
  File "voc/train_fcn32s.py", line 100, in <module>
    main()
  File "voc/train_fcn32s.py", line 56, in main
    torchfcn.utils.copy_params_vgg16_to_fcn32s(vgg16, model, init_upscore=False)
AttributeError: 'module' object has no attribute 'utils'

       But I found that I have inst

[2017-05-09 17:36] #25 closed, assigned to wkentaro

[2017-05-09 17:40] wkentaro commented on #25
Fixed via #26, Please try again.

[2017-05-09 17:46] zheshiyige opened #27 "'Dropout' object has no attribute 'weight'"
Hi,
       Thanks so much for your help!    I'm new to pytorch.
       There is a new error again!
       Traceback (most recent call last):
  File "examples/voc/train_fcn32s.py", line 100, in <module>
    main()
  File "examples/voc/train_fcn32s.py", line 56, in main
    model.copy_params_from_vgg16(vgg16, init_upscore=False)
  File "/home/zheshiyige/Desktop/fully convolutional network/pytorch-fc

[2017-05-10 15:43] wkentaro commented on #27
I confirmed that this is fixed via https://github.com/wkentaro/pytorch-fcn/commit/0dd12335c8fa8abc5838b033c082f70cb1c485bc

[2017-05-10 15:43] #27 closed, assigned to wkentaro

[2017-05-10 15:43] #21 closed, assigned to wkentaro

[2017-05-10 22:37] zheshiyige opened #28 "how to provide the three arguments in train_fcn32s.py"
Hi,
         So sorry to bother you again!    Could you tell me what's the meaning of the three arguments, out, resume and no-deconv? How to provide these three arguments to make it run properly?

Thanks and Best Regards,

[2017-05-11 04:06] wkentaro commented on #28
You can just run ./train_fcn32s.py --out logs/fcs32s_sbd

[2017-05-11 05:40] wkentaro commented on #28
--out is log output destination directory,
--resume is in order to resume the training from checkpoint,
--no-deconv is to use FCN model without deconvolution layer.

[2017-05-11 13:12] zheshiyige opened #29 "Unknown skimage warning"
Hi,
        Thanks a lot for your help! Now, the code can run successfully on my computer. But there is a warnning, I'm not sure whether it is an important issue.

/home/zheshiyige/anaconda2/lib/python2.7/site-packages/fcn-5.8.1-py2.7.egg/fcn/utils.py:310: RuntimeWarning: invalid value encountered in true_divide
/home/zheshiyige/.local/lib/python2.7/site-packages/skimage/util/dtype.py:122: UserWar

[2017-05-11 13:51] wkentaro commented on #29
It seems ok.

2017年5月11日(木) 22:12 zheshiyige <notifications@github.com>:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2017-05-14 04:35] apchenstu opened #30 "resume error"
hi, when i using resume to load parameters, it is crash saying ''unexpected key "module.features.0.weight" in state_dict''.  I don't know what wrong with this, Thanks a lot!

[2017-05-14 04:37] apchenstu commented on #30
model.load_state_dict(checkpoint['model_state_dict']), interrupted in this code

[2017-05-14 04:43] #29 closed, assigned to wkentaro

[2017-05-14 04:43] wkentaro commented on #29
FYI, you can ignore the message by `export PYTHONWARNINGS=ignore`

[2017-05-14 04:46] wkentaro commented on #30
You should check the key of `checkpoint['model_state_dict']` by `checkpoint['model_state_dict']` and maybe you need to overwrite the dictionary keys.
(this problem sometimes happens depends on the version of pytorch, maybe.)

[2017-05-14 04:54] apchenstu commented on #30
well, and which version of pytorch could fix this problem?

[2017-05-14 05:02] wkentaro commented on #30
Not sure, but I'm currently using `0.1.11`, so please try it. if possible.

[2017-05-14 05:30] apchenstu commented on #30
oh, i install 0.1.11 just now, it was crash when i didn't use resume, when load parameter from VGG16 "vgg16.load_state_dict(torch.load(pth_file))" is that mean i should use a new VGG  parrameter file? Thanks.

[2017-05-14 05:43] wkentaro commented on #30
Maybe you can specify version of torchvision written in requirements.txt.

[2017-05-14 05:50] apchenstu commented on #30
yes, i believe it is because the torchvision's version, by the way, would you like to tell me what is you torchvision 's version?

[2017-05-14 05:54] wkentaro commented on #30
https://github.com/wkentaro/pytorch-fcn/blob/master/requirements.txt#L5

[2017-05-14 07:42] apchenstu commented on #30
Oh, i found that is because i change the "model" type into Parallel(model) after init, e.t. i use model=torch.nn.DataParallel(model) , in torchfcn.Trainer() class init. then i shift this parallel model define before init parameters from resume, it works.

[2017-05-17 05:14] cslxiao opened #32 "A lot of memory consumed after import trochfcn"
Why is a lot of memory (~11G) consumed after importing torchfcn? And because of this, I am not able to run the training demo due to out of memory. How could this happen?

[2017-05-17 05:40] wkentaro commented on #32
Do you mean cpu or gpu memory?

[2017-05-17 06:19] cslxiao commented on #32
I mean GPU memory @wkentaro. Thanks for your help.
I found the reason. The GPU gets engaged after importing chainer (theano). I changed the configuration of theano to disable cuda. Then everything goes fine.

[2017-05-17 07:45] wkentaro commented on #32
Sounds good.

[2017-05-17 07:45] #32 closed, assigned to wkentaro

[2017-05-17 11:58] #30 closed, assigned to wkentaro

[2017-05-17 11:58] #28 closed, assigned to wkentaro

[2017-05-17 11:58] #7 closed, assigned to wkentaro

[2017-05-29 04:11] zheshiyige opened #34 "Is there implementation of FCN16s and FCN8s"
Hi,
       I can only find fcn32s implementation in VOC example, is there fcn16s and fcn8s implementation?

Thanks and Best Regards,

[2017-05-29 04:27] wkentaro commented on #34
Currently no.

[2017-05-31 18:18] wkentaro commented on #1
https://github.com/wkentaro/pytorch-fcn/blob/master/examples/voc/train_fcn32s.py#L105

[2017-05-31 18:18] #1 closed, assigned to wkentaro

[2017-06-02 03:31] acgtyrant opened #35 "Which paper vision does this program follow?"
[Journal version](https://arxiv.org/abs/1605.06211) or [conference version](https://arxiv.org/abs/1411.4038)?

[2017-06-02 04:56] wkentaro commented on #35
Journal version.

[2017-06-02 04:57] #35 closed, assigned to wkentaro

[2017-06-03 22:51] nykh opened #36 "`--out` option"
<s>I was trying to run train in the VOC Example with log but this parameter doesn't exist!</s>
noticed it will output log no regardless of parameter

[2017-06-04 03:52] #36 closed, assigned to nobody

[2017-06-04 03:54] wkentaro commented on #36
yes, sorry for the wrong documentation.

[2017-06-04 04:21] nykh opened #37 "RuntimeWarning: invalid value encountered in divide during example training"
In the first round of evaluation (with pretrained VGG16 model) there is following error
[code]
and the training loss becomes `NaN`. Is this expected?

Also I am not sure if it's related but AFTER the first round all the validation error becomes `NaN`.

[2017-06-04 12:47] wkentaro commented on #37
It's expected behavior.
FYI, you can ignore the message by export PYTHONWARNINGS=ignore

[2017-06-04 12:47] #37 closed, assigned to wkentaro

[2017-06-19 07:52] Deepayan137 opened #38 "Incosistent Tensor size while loading data using data loader."
I am training an OCR using RNN. I am supplying input data as word images of varying dimensions (since each word can be of different lengths) and the size of class labels of each input data is also not consistent. Since each word can have a different number of characters.

[code]

This gives me the error:
`RuntimeError: inconsistent tensor size at /py/conda-bld/pytorch_1493673470840/work/torch/lib/

[2017-06-22 07:16] deartonym opened #39 "Could you plz add more running instructions on /example/voc/train_fcn32s.py"
As the title, thanks. It seems that

`./train_fcn32s.py --out logs/fcs32s_sbd`

does not work out with the current version.

Best,

[2017-06-26 07:03] deartonym commented on #39
It works with:
`./train_fcn32s.py ./config/001.yaml`

[2017-06-26 07:21] wkentaro commented on #39
Thanks! I fixed the document: https://github.com/wkentaro/pytorch-fcn/commit/6a9e842cd97f28acdce415ecc821f325fadd4604

[2017-06-26 07:21] #39 closed, assigned to wkentaro

[2017-06-26 08:02] deartonym opened #40 "Why do we need padding=100 for a filter of size 3?"
As the title, in torchfcn/models/fcn32s.py we have the setting for the first conv1 layer:

`nn.Conv2d(3, 64, 3, padding=100),`

Why do we need a padding of side length 100 instead of 1 according to the filter size 3?

Thanks

[2017-06-26 08:03] deartonym commented on #38
I have exactly the same error and am trying to figure out as well.

[2017-06-27 07:34] Deepayan137 commented on #38
I resolved this issue by padding my images and my labels so that they become of uniform dimension.
I took the image with maximum width and then padded all other images by adding 1 on both left and right side.
[code]

for Lables I ttok the longest sequence among all the labels.

[code]

[2017-06-27 09:26] #38 closed, assigned to nobody

[2017-06-29 12:15] cslxiao opened #41 "About the Preprocessing of input images."
This project used different preprocessing method with the Pytorch pretrained models. The pretrained models use RGB values normalized to [0, 1]. While in pytorch-fcn, images are BGR values and not normalized to [0, 1], only center normalized. So how did it works?

See this on pytorch discuss:
All pretrained torchvision models have the same preprocessing, which is to normalize using the following me

[2017-07-08 23:10] Viresh-R commented on #40
Shelhamer and Long use a padding of 100 for the first conv layer in their Caffe implementation.
https://github.com/shelhamer/fcn.berkeleyvision.org/blob/master/pascalcontext-fcn8s/train.prototxt

[2017-07-19 01:58] crystal786 opened #42 "**Training**"
code-block:: bash

  ./train_fcn32s.py config/001.yaml

Running this step, I can see this error, as follows,
Traceback (most recent call last):
  File "./train_fcn32s.py", line 128, in <module>
    main()
  File "/home/xyz/anaconda2/lib/python2.7/site-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/home/xyz/anaconda2/lib/python2.7/site-packages/click/c

[2017-08-02 12:42] wkentaro commented on #41
I use VGG16 model pretrained using caffe, and distributed at Caffe-Zoo. And that's why I use different preprocessing.
This is common, and the original author of FCN also used that model.

[2017-08-02 12:42] wkentaro commented on #40
Thank you @Viresh-DL

[2017-08-02 12:42] #40 closed, assigned to wkentaro

[2017-08-02 12:43] wkentaro commented on #42
Maybe you don't have `git` command.. https://github.com/wkentaro/pytorch-fcn/blob/master/examples/voc/train_fcn32s.py#L21

[2017-08-02 13:45] csgwon opened #43 "slower benchmarks"
I tested this out on an AWS p2 instance and I got a significantly slower benchmark.  Can you confirm the hardware that you ran your benchmark on?

==> Benchmark: gpu=0, times=1000, dynamic_input=False
==> Testing FCN32s with PyTorch
Elapsed time: 245.73 [s / 1000 evals]
Hz: 4.07 [hz]

[2017-08-02 14:18] wkentaro commented on #43
I updated the README:

[code]

[2017-08-02 14:18] #43 closed, assigned to wkentaro

[2017-08-04 11:10] acgtyrant commented on #34
I am amazing there is still no implementation of them now...

[2017-08-06 19:47] volzkzg opened #45 "Where can I get the pretrained vgg16 model"
The error tells me that I don't have the vgg16-from-caffe pretrained model.

bg455@51d9f43122cd:~/projects/pytorch-fcn/examples/voc$ ./train_fcn32s.py  ./config/001.yaml
Traceback (most recent call last):
  File "./train_fcn32s.py", line 128, in <module>
    main()
  File "/home/bg455/.local/lib/python2.7/site-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  F

[2017-08-07 03:34] volzkzg commented on #45
It seems that jcjohnson's pretrained model can not be downloaded

[2017-08-07 16:23] volzkzg commented on #15
I'm wondering why we need pre-trained FCN32s for FCN16s and both pretrained FCN32s and FCN16s for FCN8s.

[2017-08-07 20:43] wkentaro commented on #45
Fixed via ce1cb8867ba215a008ab40c3a3c4502f73b69a0f

[2017-08-07 20:43] #45 closed, assigned to nobody

[2017-08-07 20:44] #42 closed, assigned to wkentaro

[2017-08-07 20:44] #41 closed, assigned to wkentaro

[2017-08-08 15:50] volzkzg opened #50 "About the offset of crop"
Hi, I just want to ask how you decide the crop offset in different models. If I want to train this model on different datasets with different image size, how to calculate the precise crop offset?

[2017-08-08 16:01] wkentaro commented on #34
Closed via #49 #47 #48

[2017-08-08 16:01] #34 closed, assigned to wkentaro

[2017-08-08 16:03] wkentaro commented on #50
There is enough padding (100) in the first layer (conv1_1), so maybe you don't have to do tune the parameter even though using different datasets.
I have experiences of using FCN with different datasets, but had no problems.

[2017-08-11 23:32] #50 closed, assigned to wkentaro

[2017-08-13 23:11] volzkzg commented on #50
Thanks, it worked on 2048x1024 images.

[2017-08-18 09:17] WeiQijie opened #51 "Questions about the parameters in the upscore layer"
Hi @wkentaro ,your code is running will on my own dataset but there are some parts that I don't quite understand.
In [fcn32s.py](https://github.com/wkentaro/pytorch-fcn/blob/master/torchfcn/models/fcn32s.py) line 144 you set
```h = h[:, :, 19:19 + x.size()[2], 19:19 + x.size()[3]].contiguous()```.
Why you use 19 here or I can just replace it with 20 or 18?
Thanks very much.

[2017-08-22 17:56] wkentaro commented on #51
It is the minimum padding/offset possible as the output of deconvolution.
You can compute it with different input size.

[2017-08-23 18:32] wkentaro commented on #51
You can compute the min/max offsets below for FCN32s:
https://gist.github.com/wkentaro/1d32e54535f0486d09e962302a9bc068

It shows the minimum offset is 19.0 and maximum is 34.5.

[2017-08-23 18:33] #51 closed, assigned to wkentaro

[2017-08-29 01:53] zijundeng opened #52 "About VGG16 pretrained model"
Hi @wkentaro , I see that you use the vgg16 pretrained model from caffe. I wonder that why you do not use a pretrained [one](https://github.com/pytorch/vision/blob/master/torchvision/models/vgg.py) provided by torchvision. Is the pretrained one from caffe better?

Thanks.

[2017-09-05 10:45] wkentaro commented on #52
I wanted to reproduce the same result as the original paper, and since pytorch uses different implementation for vgg (pytorch normalizes pixel value from 0 to 1), I decided to copy weights from caffe.
I have not trained fcn using vgg model in torchvision.
Does the model achieve the same result as the original vgg?

[2017-09-06 09:02] chenchr opened #53 "Can not work with pycaffe?"
Hello! I am using your pytorch-fcn, which need the dependency fcn. However, when I try to convert the caffe model to pytorch one, importing both fcn and caffe the kernel become dead. But just importint single one, caffe or fcn, it works. If I import fcn after importing caffe or caffe after fcn, it can not work...

[2017-09-06 09:21] chenchr commented on #53
Hello. I found that the usage of fcn is a classmethod of model to download the pre-trained model. Is the model converted from pre-trained caffe model or trained by pytorch-fcn?

[2017-09-06 15:29] wkentaro commented on #53
fcn downloads model trained using caffe.

[2017-09-07 07:23] chenchr commented on #53
@wkentaro Thanks! Maybe I can download the model from browser and comment out the code using fcn.

[2017-09-08 03:26] zijundeng commented on #52
I have tried to use the pretrained vgg from torchvision for several times but failed to achieve the same result.

[2017-09-08 03:30] zijundeng commented on #52
The mean iu with the pretrained vgg from torchvision is 60~62. Maybe I haven't found a good set of hyperparameters.

[2017-09-13 16:46] RaviVijay commented on #30
@apchenstu I am facing the same issue and your solution is'nt very clear. Can you please explain in more detail  ?

[2017-09-19 09:01] #53 closed, assigned to wkentaro

[2017-09-22 14:05] youngfly11 opened #54 "The learning rate is too small"
I found that when you trained the FCN8s model, the learning rate is too small (1e-14). I remember that the learning rate is set to 1e-4 in the original FCN paper. I am a little confused.
Can you give me some answer? Thank you for advance

[2017-09-23 01:45] wkentaro commented on #54
I refer to its journal version:
https://github.com/shelhamer/fcn.berkeleyvision.org/blob/affc85ff245099dbde06609d66ed08d73411f4ad/voc-fcn8s/solver.prototxt#L10

[2017-09-23 01:47] wkentaro commented on #52
It seems that this issue is not the problem of pytorch-fcn in actual.
I think the torchvision vgg does not achieve the same result on imagenet, either. If I am wrong, please report.

Please request me to reopen this if you need.

[2017-09-23 01:47] #52 closed, assigned to wkentaro

[2017-09-23 01:52] youngfly11 commented on #54
Thank you for your answer.  The loss does not decay when i train the FCN8s on the CamVid dataset. i am so confused. I have another question.  Do you use the pretrained model or not?

[2017-09-23 02:55] wkentaro commented on #54
Yeah, I use pretrained model of fcn16s: https://github.com/wkentaro/pytorch-fcn/blob/master/examples/voc/train_fcn8s.py#L76
which is required to train fcn8s.

[2017-09-23 03:21] youngfly11 commented on #54
Thanks you so much. Can i directly use the pretrained model of fcn8s?  i remember that you give a url to download the fcn8s_from_caffe.pth in FCN8s.py?

[2017-09-23 19:00] wkentaro commented on #54
You can do like below:
[code]

[2017-09-24 01:18] #54 closed, assigned to wkentaro

[2017-10-08 09:49] chenchr opened #55 "get error when executing the script "learning_curve.py"?"
Hello. I found that when the training time exceed 24 hours, the logging will write "1 day" to the time field of "log.csv" . However, this will cause error when using the script "learning_curve.py". How can I fix this error? Thanks!

[2017-10-25 09:24] WeiQijie opened #57 "A little bug in trainer.py"
Hello, wkentaro. Do you find that the training loss will suddenly become larger when a new epoch starts? I've noticed that and think it is because of the incorrect use of the training and evaluating mode of the model.
In train_epoch(), line 171, when you finish validation, I think you should change the model back into training mode.

[2017-10-25 11:15] jacktkk opened #58 "an issue about train_data"
hi man~ sorry for bothering u
I can not get the  http://www.eecs.berkeley.edu/Research/Projects/CS/vision/grouping/sema
ntic_contours/benchmark.tgz -O benchmark.tar  for the benchmark data.
Could u please upload the files to your project?
thx!

[2017-10-25 13:28] wkentaro commented on #57
Thank you I will check it.

[2017-10-25 13:30] wkentaro commented on #58
I tried now, and I successfully downloaded that `benchmark.tgz` file.
Could you try again?

[2017-10-27 06:21] nolsigan commented on #57
My pull request resolves this issue. #56

[2017-10-31 12:26] jacktkk commented on #58
I finished it by using windows system, thanks for your reply : )

[2017-11-01 17:45] #58 closed, assigned to wkentaro

[2017-11-15 14:07] monaj07 commented on #57
I was getting unpredictable results and I just realized that the reason was this issue.
Came here to post it and saw it here!

[2017-11-15 17:53] wkentaro commented on #57
Sorry, currently I have no GPU left to try this. Almost all GPUs at my lab are used for other experiments.
Maybe it takes more a few days to solve this.

[2017-11-15 21:48] monaj07 commented on #57
@wkentaro Thanks. I believe one only needs to set `self.model.train()` again right after `self.validate()`, as @WeiQijie remarked.

[2017-11-17 08:01] #55 closed, assigned to wkentaro

[2017-11-17 08:02] wkentaro commented on #57
@nolsigan @monaj07 thanks! d10dd3062824195fe5cc9d196b4af4081247bb3f should fix this.

[2017-11-17 08:02] #57 closed, assigned to wkentaro

[2017-11-19 12:42] chenchr opened #59 "Can only deal with batch size as 1?"

[2017-11-19 12:43] #59 closed, assigned to nobody

[2017-11-20 00:03] agarwal-shubham opened #60 "Pretrained network for fcn8s model"
Hi, I tried to train the fcn8s model using pretrained weights from the vgg16 model, but there was no visible learning and the model output was all zero for the first to ~10k iterations. However, the training loss converges when I use the fcn16s model to initialize the weights. I could not really understand the reason behind this, can you help with an explanation.

[2017-11-25 07:30] wkentaro commented on #60
Maybe you should read the original paper: https://www.cv-foundation.org/openaccess/content_cvpr_2015/papers/Long_Fully_Convolutional_Networks_2015_CVPR_paper.pdf

scratch is not feasible considering the time required to
learn the base classification nets. (Note that the VGG net is
trained in stages, while we initialize from the full 16-layer

[2017-11-25 07:31] #60 closed, assigned to wkentaro

[2017-11-28 00:37] quinwu opened #61 "AttributeError: 'float' object has no attribute 'total_seconds'"
Hi,wkentrao. sorry to bother u !
I want to train fcn32s , like this.

Now,i have a error. I dont know how to fixed that.

I want to know some details about this error.
Thanks and Best Regards!

[2017-11-28 01:22] #61 closed, assigned to nobody

[2017-11-28 01:22] wkentaro commented on #61
I think it is fixed via  9ada6ed could you please check?

[2017-11-28 14:08] xiaogangw-zz opened #62 "ImportError: No module named fcn"
Hi, when I run the file "model_caffe_to_pytorch.py", it turns out that there is "no module named fcn". Thank you very much.
By the way, "export PYTHONAPTH=$(pwd)/python:$PYTHONPATH" should be "export PYTHONPATH=$(pwd)/python:$PYTHONPATH", I think.

[2017-11-29 00:05] wkentaro commented on #62
Please follow the instruction: https://github.com/wkentaro/pytorch-fcn#installation

I will fix the typo. Thank you.

[2017-11-29 00:06] wkentaro commented on #62
The typo is fixed via: 0f325e86b6158503468380127684b6217f508485

[2017-11-29 00:06] #62 closed, assigned to nobody

[2017-12-18 21:41] AruniRC opened #63 "resuming from checkpoint error"
When resuming from a saved checkpoint using the flag `--resume ` and the path to .pth.tar file saved under the 'log' folder by the program, there seems to be an error during the optim step.

[2017-12-18 21:52] #63 closed, assigned to nobody

[2017-12-26 21:21] agarwal-shubham commented on #60
What I wasn't able to understand is that why was it so much more worse to directly train the FCN16s using VGG16 (and not from scratch) (I understand that it makes sense to finetune FCN16s model from FCN32s). But as you said I revisited the paper and I think the proper reason is stated under **Refinement by other means** right before Section 4.3 in [the paper](https://www.cv-foundation.org/openacce

[2017-12-27 14:09] Hesansan opened #64 "excuse me. I have some questions"
when i try to run this code
then:

./train_fcn32s.py -g 0

Traceback (most recent call last):
  File "./train_fcn32s.py", line 164, in <module>
    main()
  File "./train_fcn32s.py", line 129, in main
    vgg16 = torchfcn.models.VGG16(pretrained=True)
  File "/usr/local/lib/python2.7/dist-packages/torchfcn/models/vgg.py", line 13, in VGG16
    model_file = _get_vgg16_pretrained_model()
  File "/us

[2017-12-29 00:16] wkentaro commented on #64
It seems a network connection problem.
Can you retry to check if it happens again?

[2018-01-09 08:13] jxlijunhao commented on #64
请问，h = h[:, :, 19:19 + x.size()[2], 19:19 + x.size()[3]].contiguous()，　中的19是怎么确定出来的

[2018-01-09 09:13] wkentaro commented on #64
@jxlijunhao 请看这个 https://github.com/wkentaro/pytorch-fcn/issues/51

[2018-01-09 11:11] zhijiew commented on #64
@Hesansan these codes are trying download some pretrained models from google drive, and it can not be visited in China. Maybe you can download it manually and put them in right folder.

[2018-01-10 05:34] huangzhii opened #67 "Bugs in trainer.py"
In line 196, I don't suggest we use for loop to feed each single lbl into the function torchfcn.utils.label_accuracy_score.

Because it will make the line 21 of utils.py useless. And will cause trouble in calculating IU. Even it will not be used, but it does wrong :)

[2018-01-10 13:38] fighterstz opened #68 "Initialize fcn8s by weights of vgg16 by the same way in fcn32s."
Hello, thanks for your efforts!
But I encountered a problem when I initialize fcn8s and fcn16s by weights of vgg16 by the same way in fcn32s. The training results (especially fcn8s) didn't reach the expectation because the mean_iu is very low. Can you tell me where it's possible wrong?
Look forward to your reply.

[2018-01-20 15:01] wkentaro commented on #68
It is not possible to train fcn8s with finetuning from vgg16.
To do this, you should use fcn8s_atonce model: https://github.com/wkentaro/pytorch-fcn/blob/master/torchfcn/models/fcn8s.py#L172

(this is described in the original paper)

[2018-01-20 15:02] #64 closed, assigned to nobody

[2018-01-21 04:46] fighterstz commented on #68
Got it! thank you!

[2018-01-22 09:47] #68 closed, assigned to wkentaro

[2018-01-22 09:51] #67 closed, assigned to wkentaro

[2018-01-22 09:51] wkentaro commented on #67
Thanks!

[2018-03-03 02:55] dillondavis commented on #52
@ZijunDeng Did you ever find good hyperparameters for the torchvision vgg16? I'm having some issues training it

[2018-04-17 08:08] wgqbit95 opened #69 "No moduled named torchfcn"
when I was running the file train_fcn32s.py, it returned error : No module named torchfcn, please help me~~~. How can I solve this error

[2018-04-17 08:09] #69 closed, assigned to nobody

[2018-04-17 08:10] wgqbit95 commented on #69
I forgot to python setup.py install ............

[2018-06-07 03:36] haomengchao opened #70 "question about learning_curve.py"
Hi, thank you for sharing the code. I trained FCN32s on VOC12 and got the correct results when using view_log. However, when I tried to draw the learning curves, my log  couldn't work with the code.  After
 **rolling_mean**  , all the data in **df_train** became NaN. Is there something wrong with my log? There are some pics about this problem.
![step4](https://user-images.githubusercontent.com/313

[2018-06-07 04:05] wkentaro commented on #70
Hmm, I have no idea.
If you provide me the log.csv, I think I can get to know the cause.

[2018-06-08 06:48] haomengchao commented on #70
@wkentaro sorry to disturb you. How can I provide it to you?
Thanks

[2018-06-08 07:22] wkentaro commented on #70
I usually use gist for that.
You can also use Dropbox and Google Drive.

[2018-06-08 08:48] haomengchao commented on #70
I post it on Google Drive
https://drive.google.com/open?id=13Yv1i7yNnsxl2fjcQHvw5xlkUkgB5IzO
@wkentaro

[2018-06-08 13:35] wkentaro commented on #70
697f8647bb3fcd4f3af27eda0931f350017a7573 should fix this issue.
So please use the latest pytorch-fcn by `git pull origin master`.

[2018-06-09 02:17] haomengchao commented on #70
@wkentaro yeah the bug is fixed.
Thank you!

[2018-06-09 02:17] #70 closed, assigned to wkentaro

[2018-06-09 02:33] wkentaro commented on #70
👍

[2018-06-15 13:53] weiaicunzai commented on #40
if anyone interested:

Why pad the input?: The 100 pixel input padding guarantees that the network output can be aligned to the input for any input size in the given datasets, for instance PASCAL VOC. The alignment is handled automatically by net specification and the crop layer. It is possible, though less convenient, to calculate the exact offsets necessary and do away with this amount of paddin

[2018-06-20 19:31] sangeet259 opened #71 "no module named fcn"
in fcn8s.py it attempts `import fcn` but there is no such module

[2018-06-20 19:33] sangeet259 commented on #71
Oh, found the issue already closed.
Sorry for the inconvenience :)

[2018-06-20 19:33] #71 closed, assigned to nobody

[2018-07-05 07:56] upuil opened #72 "TypeError: resize() got an unexpected keyword argument 'anti_aliasing'"
I don't konw how to resolve this problem.
[code]

[2018-07-06 05:35] #72 closed, assigned to wkentaro

[2018-07-06 05:36] wkentaro commented on #72
I released fcn 6.4.3. So please install it via
[code]

[2018-07-07 09:57] DoffeBupt commented on #72
hello, i have installed fcn6.4.3 but it raises the same error.

[2018-07-07 10:03] DoffeBupt opened #73 "TypeError: resize() got an unexpected keyword argument 'anti_aliasing'"
the code seems perfect but here raises some error to me.
I have already installed fcn-6.4.3 but it seems doesn't work.
I don't know how to solve that problem.
here is what the terminal shows
what should i do to solve it?

/home/doffe/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated.

[2018-07-07 11:33] wkentaro commented on #73
Could you try again with `pip install fcn==6.4.4`?

[2018-07-07 13:42] DoffeBupt commented on #73
Seems it works! thank you wkentaro!

[2018-07-07 23:23] wkentaro commented on #73
Good!

[2018-07-07 23:23] #73 closed, assigned to nobody

[2018-07-08 04:54] upuil commented on #73
It does works! thank you again.

[2018-07-08 07:01] wkentaro commented on #73
Sounds great! :+1:

[2018-07-16 06:39] pazeshun commented on #72
It is solved by https://github.com/wkentaro/pytorch-fcn/issues/73

[2018-07-16 09:48] CLAPoo opened #74 "Error when run command"pip install torchfcn""
when i run the command:
          pip install torchfcn
i got the error like this.  I have tried re-install torch, but the bug is still here.

**Log:**
Installing collected packages: torchfcn
  Running setup.py install for torchfcn ... error
    Complete output from command /usr/bin/python -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-EVS88p/torchfcn/setup.py';f=getattr(tokenize, 'o

[2018-07-16 09:49] CLAPoo commented on #74
@wkentaro

[2018-07-17 16:59] wkentaro commented on #74
Actually, I can't reproduce this.
Could you please provide the information of your environment?

[2018-07-18 08:48] CLAPoo commented on #74
Ubuntu 16.04
Requirement already satisfied: fcn>=6.1.5 in /usr/local/lib/python2.7/dist-packages (from torchfcn) (6.4.5)
Requirement already satisfied: numpy in /usr/local/lib/python2.7/dist-packages (from torchfcn) (1.14.5)
Requirement already satisfied: Pillow in /usr/local/lib/python2.7/dist-packages (from torchfcn) (4.3.0)
Requirement already satisfied: scipy in /usr/lib/python2.7/dist-package

[2018-07-18 09:00] wkentaro commented on #74
I also use Ubuntu 16.04, but can't reproduce this. I'm not sure how to fix your problem.

[2018-07-18 09:02] wkentaro commented on #74
Probably, your pip is old.
What about upgrading it by `pip install -U pip`?

[2018-07-23 02:17] oujieww opened #75 "can not get the same result"
I have ran fcn32s  with params default ,pytorch0.4 python3.5  but after iters 100000,only get 57.8 mIOU .Is anything i missed?
and for pre-train model i use vgg16 from torchvision  for fcn32s, is this right?
can u help me ,thank you.

[2018-07-23 02:45] oujieww opened #76 "vgg16 pre train model can not download"
I use the 'https://drive.google.com/uc?id=0B9P1L--7Wd2vLTJZMXpIRkVVRFk/~/data/models/pytorch/vgg16_from_caffe.pth'
this url to download ,but 404 not found, is there anyone can send me one?

[2018-07-23 14:40] #76 closed, assigned to nobody

[2018-07-23 14:40] #75 closed, assigned to nobody

[2018-07-24 01:33] OneForward opened #77 "log error: can't multiply sequence by non-int of type 'float'"
When I follow the voc examples, I got problems of visualizing the logs in command
`./view_log logs/XXX/log.csv`
with error

It seems there's something wrong in the **view_log** script.

[2018-07-24 01:40] #77 closed, assigned to nobody

[2018-08-03 06:36] hjjlovecyy opened #78 "can this model be used in other data?"
I have a requirement, that is to use fcn in other data(not in voc, such as mosquito).
but some problem occur.
And this problem is very confused.

[2018-08-03 06:49] wkentaro commented on #78
FCN is a general model for semantic segmentation, so you can use it with
other datasets which aim to solve the same task.

2018年8月3日(金) 15:36 hejiajun <notifications@github.com>:

--
Kentaro Wada / 和田 健太郎
https://wkentaro.com <http://wkentaro.com>

[2018-08-03 07:33] hjjlovecyy commented on #78
![iter000000007514](https://user-images.githubusercontent.com/22337977/43629577-3e389952-9730-11e8-822a-e6dfcf177a72.jpg)
This is the result with mosquito dataset. And the dataset I create is follow the voc format(.mat file for training and .png for val, and .png is created by your labelme, thank u for your great work ^ ^ ).
The outline of mosquito do exist, but the whole image have mussy backgrou

[2018-08-03 07:49] wkentaro commented on #78
I can only say there are problems in your dataset or training script or the model..

[2018-08-03 08:08] hjjlovecyy commented on #78
Thanks. I think there are problems in the training script.

[2018-08-03 08:25] wkentaro commented on #78
Maybe you should start from [`train_fcn32s.py`](https://github.com/wkentaro/pytorch-fcn/blob/master/examples/voc/train_fcn32s.py) changing it for segmentation of 3 classes (background, mosquito-male, mosquito-female?).

[2018-08-28 02:22] yifanjiang19 opened #79 "Is there any pre-trained model released?"
Will you release any pre-trained model? That will be very helpful.

[2018-08-28 03:03] wkentaro commented on #79
See https://github.com/wkentaro/pytorch-fcn/blob/63bc2c5bf02633f08d0847bb2dbd0b2f90034837/torchfcn/models/fcn32s.py#L31-L37.

[2018-08-28 03:03] #79 closed, assigned to wkentaro

[2018-08-28 03:17] #74 closed, assigned to wkentaro

[2018-08-30 22:59] hihfs opened #80 "Train all"
Hi.

Currently, train_fcn16s and train_8s download pre-trained models.
But shouldn't we test training the whole thing?
After running train_fcn32s, can we use the resulting model for train_fcn16s, and then use both results in train_fcn8s?

[2018-09-01 09:02] MohitTare commented on #79
Thanks for sharing this awesome repo. I am trying to use the pre-trained FCN8 model by directly loading the state dictionary, however i am not seeing any output (segmentation map). Below is the snapshot of my code

[code]

I am doing it correctly. My understanding is that the op is for each classes (one hot) and we need to take the max accross each channel. Can you please assist in resolving?

[2018-09-01 09:04] MohitTare opened #81 "Using Pretrained models"
Thanks for sharing this awesome repo. I am trying to use the pre-trained FCN8 model by directly loading the state dictionary, however i am not seeing any output (segmentation map). Below is the snapshot of my code

[code]
Am  I doing it correctly ? My understanding is that the op is for each classes (one hot) and we need to take the max accross each channel. Can you please assist in resolving?

[2018-09-01 11:12] wkentaro commented on #81
Please refer to https://github.com/wkentaro/pytorch-fcn/blob/aa8d9b5ef722f9c11b3e1015d3fae9f40b3ce2ea/examples/voc/evaluate.py#L65

[2018-09-01 11:13] wkentaro commented on #80
Yeah. You're right. And a PR is welcome to achieve it.

[2018-09-01 14:45] MohitTare commented on #81
Thanks a lot ! Actually what i was missing is transformation of the data specifically mean RGB subtraction. So that's why i was not getting any decent o/p from the model.  Just for curiosity on what hardware you trained this ? I am trying to  train different dataset using GTX 1060Ti but facing memory issues.

[2018-09-01 14:45] #81 closed, assigned to wkentaro

[2018-09-02 01:30] wkentaro commented on #81
I use TitanX Pascal or GTX 1080ti or p100.
They have memory over 11GB.

2018年9月1日(土) 23:45 MohitTare <notifications@github.com>:

--
Kentaro Wada / 和田 健太郎
https://wkentaro.com <http://wkentaro.com>

[2018-09-02 22:37] hihfs commented on #80
Ok. Will you create a branch and give a permission to push?

[2018-09-03 01:45] wkentaro commented on #80
Please make a pull request.
2018年9月3日(月) 7:37 hihfs <notifications@github.com>:

--
Kentaro Wada / 和田 健太郎
https://wkentaro.com <http://wkentaro.com>

[2018-09-03 16:25] hihfs commented on #80
Cannot push.
"Permission to wkentaro/pytorch-fcn.git denied to hihfs."

[2018-09-04 15:13] wkentaro commented on #80
You need to fork this repo.

[2018-09-10 21:17] AtsukiOsanai opened #82 "How to find the slicing index at last layer ?"
Hi,

I'm studying semantic segmentation and have a question about fcn.

At fcn32s, you are slicing the upscore from "19".
Also, at fcn16s, you are using the index "5" after score_pool4 and "27" after upscore16.
How did you find this index ?
(I think it causes because of padding(=100) at first layer.)

Specifically, if my calculation is correct, (3, 224, 224) input gives (n_class, 288, 288) output

[2018-09-13 06:27] pamela0530 commented on #74
i meet the same problem

[2018-09-16 07:03] z01nl1o02 opened #83 "pretrained models is the same with model zoo?"
for some reason i can't access google drive to download pretrained model for fcn32. can i start training fcn32 based on torchvision.models.vgg16(pretrained=True)? they are the same?

[2018-09-16 13:00] wkentaro commented on #83
They were differen before.
But I’m not sure the current status of vgg on torchvision.

[2018-09-18 07:44] sebgao opened #84 "How to reach 64% with FCN8sAtOnce?"
I'm a little curious about how to reach 64% with FCN8sAtOnce model. In my experiments with downloaded same code (except for pytorch pretrained model instead of caffe), the best mean_iu within 100000 iterations is 59.04%. Any learning rate decay used here and other tricks? Thanks.

[2018-09-18 16:42] kcyu2014 opened #85 "out of memory"
Hi,

I want to test on the example cases, so I just run `python example/voc/train_fcn8s.py -g 1` on a DGX station, with Tesla V100 16GB memory. After loading the model, it immediately reports out of memory in the first forward pass. Has anyone encountered this situation?

environment:
Pytorch: v0.4.1
CUDA: 9.0
cuDNN: 7.1.4

Kaicheng

[2018-09-27 08:43] qiaokang0 opened #86 "run on multi-gpu"
python train_fcn16s.py -g 0
i change:
1. os.environ['CUDA_VISIBLE_DEVICES'] = '0,1,2,3'
2. model=model.cuda() -> model=torch.nn.DataParallel(model,device_ids=[2,3])
for i want use the last gpus for training.

and i get error below ,i only know the para_copy op causes this,
 i am a newbee for pytorch, any sulotion or pointer accroding which i can try?

Traceback (most recent call last):
  File "tra

[2018-10-01 14:13] machanic opened #87 "why first conv layer padding = 100?"
https://github.com/wkentaro/pytorch-fcn/blob/master/torchfcn/models/fcn8s.py#L25

[2018-10-01 21:25] mqp2259 commented on #85
I have the same problem. Did you solve it?

[2018-10-02 21:29] wkentaro commented on #84
I think this is why. The pytorch pretrained model is different from the one of caffe.

[2018-10-02 21:35] wkentaro commented on #87
Please check https://github.com/wkentaro/pytorch-fcn/issues/40.

[2018-10-02 21:36] wkentaro commented on #86
Actually, pytorch-fcn does not work with multi-gpu. I think we need to change some of the code to run with multi-gpu.

[2018-10-02 21:37] wkentaro commented on #85
Probably, it's the problem of pytorch you use.
Have you tested with a simpler training code? Like train_mnist.py?

[2018-10-02 21:39] wkentaro commented on #82
You can check this issue: https://github.com/wkentaro/fcn/issues/102.

And below is the simple code to get the crop size for FCN32s:
https://gist.github.com/wkentaro/1d32e54535f0486d09e962302a9bc068#file-get_fcn32s_offsets-py

[2018-10-05 14:30] codermckee opened #88 "can't copy "torchfcn/ext/fcn.bekerlyvision.org": doesn't exist or not a regular file"
how to solve it ?

[2018-10-07 15:56] zl535320706 commented on #85
I have the same problem with k40 11G memory, and I find the bath_size=1 in train_fcn8s.py. Why the code need so much memory? I had run others segementation code in VOC 2012, and do not find the same problem. What shold I do to run this code?  I'm sure that my pytorch(stable 0.4.1 cuda80) works well.

I find that while running to the fcn8s.py"127:     h = self.relu6(self.fc6(h))", the GPU would be

[2018-10-09 17:31] #82 closed, assigned to wkentaro

[2018-10-09 17:32] #87 closed, assigned to wkentaro

[2018-10-09 17:35] wkentaro commented on #85
Hmm, I tested this on Titan X, Titan X Pascal, and GTX 1080Ti, which have 12 or 11 G memories..

[2018-10-09 17:38] wkentaro commented on #88
How to reproduce it? `pip install torchfcn?`

If so, please check the version of your pip and setuptools.

[2018-10-09 17:41] wkentaro commented on #88
My environment is like below:
[code]

[2018-10-10 11:40] codermckee commented on #88
thank u， it did work. I solved it by updating the setuptools.

[2018-10-16 10:44] AlexTS1980 opened #90 "Incorrect result when testing on a single image"
The image is correctly segmented when I run FCN in caffe. I recently decided to switch to pytorch, and installed pytorch FCN. Here's the self-contained code:

[code]

Every pixel is classified as background. What is wrong with the code?

[2018-10-16 11:36] wkentaro commented on #90
Please refer to
https://github.com/wkentaro/pytorch-fcn/blob/master/examples/voc/evaluate.py

[2018-10-16 12:04] AlexTS1980 commented on #90
That's the script I followed, yes. Is this the correct architecture? It is different from the Caffe implementation:
FCN8s(
  (conv1_1): Conv2d(3, 64, kernel_size=(3, 3), stride=(1, 1), padding=(100, 100))
  (relu1_1): ReLU(inplace)
  (conv1_2): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1))
  (relu1_2): ReLU(inplace)
  (pool1): MaxPool2d(kernel_size=2, stride=2, padding=0, dilat

[2018-10-16 13:28] wkentaro commented on #90
I think it has definitely the same architecture. I tested it by copying weight from caffe.
https://github.com/wkentaro/pytorch-fcn/blob/master/examples/voc/model_caffe_to_pytorch.py

What I mean by previous comment is that your preprocessing is different from the training of the pretrained model I distribute.
I mean `norm = Normalize(mean = [0.485, 0.456, 0.406], std = [0.229, 0.224, 0.225])` caus

[2018-10-16 13:28] wkentaro commented on #88
Good to hear.

[2018-10-16 13:29] #88 closed, assigned to wkentaro

[2018-10-16 14:39] AlexTS1980 commented on #90
OK thanks, it works correctly now. But I don't understand: I followed the tutorial very closely, like this one for example:

https://jhui.github.io/2018/02/09/PyTorch-Data-loading-preprocess_torchvision/

if I convert the image to the tensor that is between 0 and 1, then subtract and divide by the sd, it shouldn't be any different, right?

[2018-10-16 16:29] wkentaro commented on #90
No. Actually, I don’t use transforms module of torchvision so the FCN is
trained the scale of the input around [-127, 127]. If you scale the image
to [0, 1] and substract the mean, the input value ranges in around [-0.5,
0.5] which is completely different from the one at training time.

On Tue, 16 Oct 2018 at 15:39, Alex Ter-Sarkisov <notifications@github.com>
wrote:

--
Kentaro Wada / 和田 健太郎
http

[2018-10-16 16:53] AlexTS1980 commented on #90
That's weird: when I use

[code]
I get a good result (Image 1)

Instead, when I use (note the flipped values of the subtracted means)

[code]

I also get a good result, but it's different (not too much, but still) - why?

Apparently `ToTensor()` flips the dimensionality for us, but I don't get the rest.

Another confusion I have is when I run the script twice with the same settings, results are di

[2018-10-16 17:02] AlexTS1980 commented on #90
OK I'm coming to a conclusion that putting functions into the `Compose` pipeline does something wrong. Once I did all steps without `Compose`, everything worked well. Still confusing though...

[2018-10-18 17:49] keyurparalkar opened #91 "Upsampling the output from self.upscore"
Hello, I am new to this community and I have doubt regarding the [fcn32.py](https://github.com/wkentaro/pytorch-fcn/blob/master/torchfcn/models/fcn32s.py). It's getting hard  for me to understand that the output of ```self.upscore``` is ```[batch_size,21,64,64]```, then  how it doesn't generate any error while calculating the loss with the ground-truth. According to me, the output should be ```[ba

[2018-10-18 18:47] wkentaro commented on #91
It is upsampled by the deconv layer.

[2018-10-18 18:57] keyurparalkar commented on #91
Yes I know it is upsampled by deconv layer but dimensions of that particular predictions should match with input right ? When I tried to implement the exact architecture as given in fcn32.py I found that after using conv. Transpose 2d with stride 32 it gave me output as image with size ```batxh_size,num_classes,64,64```. How should get it equivalent to my input size ?

[2018-10-18 19:51] wkentaro commented on #91
It should be equevalent to the input image.
The decov layer has stride 32 and it gives you output upsamled by 32 to be
224 in your case.
I think something wrong in your architecture.
Did you try the script I am hosting on GitHub?

[2018-10-19 01:01] keyurparalkar commented on #91
This is my implementation Inspired by your script by using the bilinear kernel for convtranspose2d:
[code]

I am using ConvTranspose2d with stride =32 and kernel_size=64 but still I get output_size = to [batch_size,21,64,64]. So because of this I used UpsamplingBilinear2d to rescale it to 224x224. Any suggestions on what might be the cause of this ?

[2018-10-19 19:28] keyurparalkar commented on #91
any suggestions?

[2018-10-21 13:58] keyurparalkar commented on #91
I have managed to have equal Input and output sizes with resnet34 architecture by adding a padding of (100,100) on first conv. layer. I also got to know the importance of the line ```h = h[:, :, 19:19 + x.size()[2], 19:19 + x.size()[3]].contiguous()``` in your fcn32 architecture. It is basically use to clip the 21 channel output spatially. I also found out that the output shape from the model must

[2018-10-22 23:53] #90 closed, assigned to wkentaro

[2018-10-25 14:12] hubutui opened #92 "what is FWAV stand for in metric?"
The [paper](https://www.cv-foundation.org/openaccess/content_cvpr_2015/html/Long_Fully_Convolutional_Networks_2015_CVPR_paper.html) use "pixel accuracy, mean accuraccy, mean IU, frequency weighted IU". And the evaluate script report "Accuracy, Accuracy Class, Mean IU, FWAV Accuracy". I'm a little confused.

pixel accuracy <-> Accuracy
mean accuracy <-> Accuracy Class
mean IU <-> Mean IU
frequency

[2018-10-25 15:38] wkentaro commented on #92
Ya. FWAV Accuracy represents Frequency Weighted AVraged Accuracy

[2018-11-02 04:54] peytonhong commented on #85
@wkentaro Have you ever tried it with Pytorch 0.4.1 the latest version? I am also using Titan X but get the message "CUDA error: out of the memory" whenever I run the code "python train_fcn32s.py -g 0". I already checked the mnist example which is working properly with gpu.

[2018-11-02 15:06] wkentaro commented on #85
Maybe no. I haven't tested on the newer PyTorch.

[2018-11-05 08:18] gyheart commented on #85
Have you solved the problem？ I also  have the same problem

[2018-11-06 14:34] gyheart opened #93 "Out of memory"
Hi，

I changed the image size to 256*256. And then I changed the batch size. When I set it less than 8, the code can work smoothly. I use 1080ti , which has 11 G memories. The memories used 5889Mib when the batch size is set to 8.  I can't understand why  the memory is out when the batch size is 10. I also test oher densenet fcn code, it can run smoothly at the same image size and the batcn size(s

[2018-11-08 00:41] #93 closed, assigned to nobody

[2018-11-08 03:10] hubutui commented on #91
Hey, I come across the similar question. For a input image of size 335x500, [fcn32s.py#L143](https://github.com/wkentaro/pytorch-fcn/blob/master/torchfcn/models/fcn32s.py#L143) give an output of size 384x544, I couldn't understand line 144:
[code]
Is 19 a magic number?

[2018-11-08 09:37] wkentaro commented on #91
@hubutui See here: https://github.com/wkentaro/pytorch-fcn/issues/51

[2018-11-08 14:13] peytonhong commented on #85
@gyheart This code was worked at Pytorch 0.3 version. Thanks!

[2018-11-08 14:19] gyheart commented on #85
Is the version 0.3.1？Thanks！

[2018-11-14 06:10] CheeseInTrap opened #94 "How does the png format label image be converted to groundtruth"
I am confused when I read the code, it seems to be just openning  the png format label image and converting it to numpy , then it becomes the groundtruth which can be used to calculate loss with the net predict result 'score',did I miss some important process ?

[2018-11-22 02:46] qibao77 opened #95 "How to deal with an input image of an odd size?"

[2018-11-24 02:51] BenfenYU opened #96 "About test"
Hi, may I ask you a question?
How does your test_fcn32s work?
I can't find any trained model like *.pth used in your code.
Thank you so much!

[2018-11-24 14:49] wkentaro commented on #96
It downloads from Google Drive: https://github.com/wkentaro/pytorch-fcn/blob/f6766058ad7968721f6217c378dff32716ee9fc6/torchfcn/models/fcn32s.py#L31-L37

[2018-11-24 14:49] #96 closed, assigned to wkentaro

[2018-11-24 14:50] wkentaro commented on #95
The network automatically learns the offset: https://github.com/wkentaro/pytorch-fcn/issues/87,
so you don't need do something special for odd size of image.

[2018-11-24 14:50] #95 closed, assigned to wkentaro

[2018-11-24 14:53] wkentaro commented on #94
Softmax cross entropy uses label image (image filled with label values) as the ground truth, so opening png and converting to ndarray is enough.
https://github.com/wkentaro/pytorch-fcn/blob/f6766058ad7968721f6217c378dff32716ee9fc6/torchfcn/trainer.py#L20-L39

[2018-11-24 14:53] #94 closed, assigned to wkentaro

[2018-11-27 08:58] BenfenYU commented on #96
well , that is not what I mean .
emmmmm , ask you later.
Thank you

[2018-11-27 13:20] wkentaro commented on #96
Ah I see. Actually, the test does not use the pretrained model at the moment.

[2018-12-09 23:26] HasnainRaz opened #97 "FCN feature map crop"
Hey,

I noticed the input is padded by 100 and the output is cropped by 19 pixels. I read the explanation for padding, but I don't understand it. How does it help alignment? Why does the output need to be cropped by 19?

I want to extract fc7 features from this network, do I need to crop the feature map as well? How do I calculate the crop size for the fc7 layer, would you have any idea?

[2018-12-13 12:24] Jee-King commented on #74
i meet the same problem when using `'sudo pip3 install .'`
but it works when using `'sudo pip install .'`
so could you give me some suggestions?
thank you.

[2018-12-18 08:20] mlx123 opened #98 "The link to the dataset semantic_contours/benchmark.tgz cannnot be opened,thank you"
Hello
I cannot open the below link success:
http://www.eecs.berkeley.edu/Research/Projects/CS/vision/grouping/semantic_contours/benchmark.tgz

Thankyou

[2018-12-18 08:34] mlx123 commented on #98
I can open it now using another computer
Thanks

[2018-12-18 15:56] mlx123 opened #99 "what is the demand of the NVIDIA GPU if I train the example in gpu?"
Hello
I train the example by this command "./train_fcn32s.py -g 0",but it has a mistake like the picture below

![default](https://user-images.githubusercontent.com/28173246/50165560-24a2da00-0320-11e9-8ac2-a9dc1e86667a.png)

the mistake says "CUDA error：out of memory"，I train the example in a computer wit Ubutun 18.04 and the Graphics card is 2080Ti(11GB memory)

So what is the demand of the NVID

[2018-12-18 16:05] mlx123 commented on #99
I seems get the answer in https://github.com/wkentaro/pytorch-fcn/issues/85
change the pytorch to 0.3 or change the input size of the image
![default](https://user-images.githubusercontent.com/28173246/50166293-b828da80-0321-11e9-865b-f9b5738f9b76.png)

[2018-12-21 00:59] #98 closed, assigned to nobody

[2018-12-21 01:00] #99 closed, assigned to nobody

[2018-12-28 11:59] zzllc3 commented on #71
@sangeet259 hi, I met the same problem. How did you solve it? thanks

[2018-12-28 12:58] wkentaro commented on #71
Please read the README.
`pip install torchfcn`

[2019-01-02 02:52] zhenlibit commented on #88
sudo pip install -U setuptools

[2019-01-08 07:52] wdmwhh commented on #97
I'm glad that I can answer the question.
Take fcn-8s for example.
Suppose the size of the image is x. Denote (conv1, relu1, pool1; ...; conv3, relu3, pool3) as Stage1. Denote (conv4, relu4, pool4) as Stage2. Denote (conv5, relu5, pool5; fc6, fc7) as Stage3.
After Stage1, the size of the feature map s1 is (x+198)/8.0.
After Stage2, the size of the feature map s2 is (x+198)/16.0.
After Stage3, the s

[2019-01-09 01:42] WangLanxiao opened #100 "view_log error:can't multiply sequence by non-int of type 'float'"
When I follow the voc examples, I got problems of visualizing the logs in command
./view_log logs/XXX/log.csv
with error

can't multiply sequence by non-int of type 'float'

[2019-01-14 10:04] #97 closed, assigned to nobody

[2019-01-20 10:30] wdmwhh opened #101 "Question about mean_iou in utils"
Take
GT:    1   1
         1   1
and
Predict:    1   3
                1   3
for example.
The method in utils calculates it's mean_iou as 0.25. However, it should be 0.5.

[2019-01-20 12:10] #101 closed, assigned to nobody

[2019-01-25 12:51] Jinming-Su commented on #84
I conduct FCN8s_atonce with the same setting as this respository, while the miou at 96000 is 63.5
%, why?

[2019-01-28 07:58] AbnerCSZ commented on #100
I met the same problem. Did you solve it?

[2019-01-28 09:06] WangLanxiao commented on #100
I still can't solve it.

[2019-01-28 10:53] wkentaro commented on #100
Sometimes the loss can be inf or nan. Maybe that's the reason why you have this error.

[2019-01-28 10:56] AbnerCSZ commented on #100
I agree with you. And I find nan in log.csv. Could you tell me how can I solve it?

[2019-01-28 11:23] wkentaro commented on #100
I reproduced this error on my env with Python3.
https://github.com/wkentaro/pytorch-fcn/pull/102 fixes this error.

[2019-01-28 11:33] AbnerCSZ commented on #100
66666

[2019-01-28 11:56] #100 closed, assigned to wkentaro

[2019-02-02 18:21] sunjinr opened #103 "data can not be downloaded by download_dataset.sh?"
when I run `train_fcn32s.py -g 0` it says `FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\****/data/datasets\\VOC/benchmark_RELEASE/dataset\\train.txt'`, is it because data can not be downloaded by download_dataset.sh? then how to handle it? thx.

[2019-02-02 21:24] wkentaro commented on #103
Maybe this is the / or \ problem for the path.
You need to replace all / to \ if you would like to use it on Windows.

[2019-02-12 13:21] mattmcc97 opened #104 "Loss Criterion failure"
I get the following error when I try and train the network on my own custom dataset with 2 classes:

/pytorch/aten/src/THCUNN/ClassNLLCriterion.cu:105: void cunn_ClassNLLCriterion_updateOutput_kernel(Dtype *, Dtype *, Dtype *, long *, Dtype *, int, int, int, int, long) [with Dtype = float, Acctype = float]: block: [0,0,0], thread: [12,0,0] Assertion t >= 0 && t < n_classes failed.

Traceback (most

[2019-02-12 17:23] mattmcc97 commented on #104
There was some corruption in my dataset, where one of the masks had a value that was not -1 or 0.

[2019-02-12 17:23] #104 closed, assigned to nobody

[2019-02-13 01:58] #103 closed, assigned to wkentaro

[2019-02-25 01:35] zzpzym opened #105 "support python 2.7 or 3.x ?"
Could you write which python supported in `README.md` please.
Thanks

[2019-02-25 07:11] wkentaro commented on #105
As noted by the badge, both Python versions are supported.

![0bc67590-d682-4cf1-9e46-4513aba9760a](https://user-images.githubusercontent.com/4310419/53320128-eeac4400-38d4-11e9-9cb3-573e312014e6.jpeg)

[2019-02-25 07:11] #105 closed, assigned to wkentaro

[2019-03-01 01:52] Jinming-Su opened #106 "The evaluation results by evalution.py is not exactly correct"
fcn.utls.visualize_segmentation makes the value of -1 in lbl_true as 0, which causes that the lbl_true is not correct because the value 255 of pixels is not exists in the ground truth. This leads to wrong results.

As shown in below images (which is part of fcn.utils.py):
![_20190301095128](https://user-images.githubusercontent.com/16068384/53610891-9d1ef480-3c07-11e9-8410-b05b953a434b.png)

[2019-03-01 12:22] wkentaro commented on #106
You're right. I updated in https://github.com/wkentaro/fcn/pull/117.

[2019-03-01 12:49] wkentaro commented on #106
Please upgrade fcn `pip install -U fcn --no-cache-dir`. This is fixed in v6.4.15.

[2019-03-01 12:49] #106 closed, assigned to wkentaro

[2019-03-03 15:11] bhashithe opened #107 "Training `FCN32s` and using that model to train `FCN16s`"
I have a very small dataset and i want to use transfer learning in a particular training mechanism in which I am going to train FCN32s on some extracted images and then use that weights as a pretrained model to train FCN16s. I see you have done the same thing in your examples.

I am using your train_fcn16s.py and train_fcn32s.py files in the examples. and providing the model_best.pth.tar file as p

[2019-03-11 22:21] ShubhraDeshpande opened #108 "error with file train_fcn8s. I am getting following error: subprocess.CalledProcessError: Command '['git', 'log', '-n', '1', '--pretty=%h']' returned non-zero exit status 128."

[2019-03-13 15:05] Dacit opened #109 "Add LICENSE"
On pipy the project is MIT-licensed - could you add a license file to the repo?

[2019-03-16 10:18] #109 closed, assigned to wkentaro

[2019-03-16 10:18] wkentaro commented on #108
Please install `git` in that case.

[2019-03-16 10:18] #108 closed, assigned to wkentaro

[2019-03-16 10:20] wkentaro commented on #107
I think you should do things like this:

https://github.com/wkentaro/pytorch-fcn/blob/97189cbccb2c9b8bd776b356a1fd4b6c03f67d79/examples/voc/evaluate.py#L50-L53

[2019-03-22 03:07] Fly2flies opened #111 "train for specific tasks"
Hello,if I only want train the model for distinguish the foreground(person) and background,which may be a task of two classes, what changes should I make to this code?
Like this?

- To change the `n_class` in the `torchfcn.fcn32.py`  and `train_fcn32`to 2 ？
- And where should I put my dataset file modified ? In the `examples/data/datasets`?
- Whether shold I put my new `train.txt,trainval.txt,val.

[2019-03-22 08:38] #111 closed, assigned to nobody

[2019-03-26 02:19] OmorFarukRakib opened #112 "Error while running the training part....TypeError: resize_images() got an unexpected keyword argument 'preserve_aspect_r atio'"

[2019-03-26 20:13] bhashithe commented on #107
I was able to solve it, i was copying the state dict into an object of FCN32, which was initialized with the default value of n_class which is 21. Which is what made up the whole mess.

Changing that to the correct number of classes solved the problem.

Thanks @wkentaro

[2019-03-26 20:13] #107 closed, assigned to wkentaro

[2019-03-28 14:46] daiyp3360xxxxxisxxxxxxmine opened #113 "why all my output results of the fcn32 is ZERO"
after the fcn32 was trained for 9 epochs, the output value score of it is still zero.
however, the weight of each layers are not zero. i am wondering if somebody has suggestions to fix this problem.

[2019-03-28 15:02] Balabala-Hong opened #114 "A question about the transform on the label"
Cool work! But I have a question about the transform on the label in your defination of `VOCClassSegBase(data.Dataset)` in the `voc.py`. Why did you replace the pixel value 255 to -1 on the label like this ：
 `lbl = PIL.Image.open(lbl_file)`
 `lbl = np.array(lbl, dtype=np.int32)`
 `lbl[lbl == 255] = -1`?

[2019-04-03 21:33] bhashithe commented on #114
This is specific to the data set more than this package, could be because in labels they are using 255 value to indicate an unlabeled regions.

Library requires(?) the unlabeled data to have a -1 value, in visualization which is coming from the [fcn](https://github.com/wkentaro/fcn) utilities module this will be filled up with random noise. @wkentaro might be able to correct me on this though.

[2019-04-09 14:27] wkentaro commented on #112
I'm not sure where do you have this error? `resize_images` seems not used in this repo.

[2019-04-09 14:29] wkentaro commented on #113
I think you should try using training data as validation data, and check if it works. If it doesn't work, that means you have a serious bug in your code.

[2019-04-09 14:34] wkentaro commented on #114
@bhashithe Thank you for answering this question. Yes, you're right.

I'm filtering negative label of ground truth from the loss: https://github.com/wkentaro/pytorch-fcn/blob/97189cbccb2c9b8bd776b356a1fd4b6c03f67d79/torchfcn/trainer.py#L35
`fcn.utils.visualize_segmentation()` fills random pixel values for negative label: https://github.com/wkentaro/fcn/blob/a29e167b67b11418a06566ad1ddbbc6949575e05

[2019-04-09 14:51] Balabala-Hong commented on #114
Thank you for your answers！ :clap::clap::clap:

[2019-04-09 15:21] #114 closed, assigned to nobody

[2019-04-09 15:21] wkentaro commented on #114
👍

[2019-04-14 11:38] jdavidd commented on #113
I have the sane problem with fcn8s, help anyone?

[2019-04-20 03:13] BCWang93 opened #115 "Hi,I have a problem in running?"
When I run the code ,I have this error like this:
'torch.Size([1, 21, 224, 320])# this is the output of the fcn32
torch.Size([1, 400, 500])# this is the target size
Traceback (most recent call last):
  File "train.py", line 54, in <module>
    train(opt,model)
  File "train.py", line 36, in train
    loss=cross_entropy2d(outputs,label,size_average=False)
  File "/home/a/Bcw_data/FCN/loss_fun/loss.

[2019-04-25 01:34] henanjun opened #116 "Cant not download the prtrained model with 'torchfcn.models.VGG16(pretrained=True)'"
I can not access  'http://drive.google.com/uc?id=0B9P1L--7Wd2vLTJZMXpIRkVVRFk' . Is there any other URL to download the pretrained model?

[2019-04-25 04:54] wkentaro commented on #116
No. Maybe you need to run a VPN.

[2019-05-02 11:14] BCWang93 commented on #113
Hi,Did you solved this problem?I trained 50 epoch,but when I use the trained model to test,the output is zero.

[2019-05-02 11:14] BCWang93 commented on #113
Hi,Did you solved this problem?I trained 50 epoch,but when I use the trained model to test,the output is zero.

[2019-05-02 11:18] BCWang93 opened #117 "Hi,I have a problem?"
When I test the trained model use the test data or the train data ,the output is only zero.Anyone can help me to solve this?Thanks!
the output like this:
[[0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 ...,
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]
 [0 0 0 ..., 0 0 0]]

[2019-05-02 11:35] wkentaro commented on #113
For training fcn8s, you first start training fcn32s and fcn16s.

[2019-05-02 11:39] wkentaro commented on #117
Is this the result with VOC dataset?

On Thu, May 2, 2019 at 12:18 Bcw93 <notifications@github.com> wrote:

--
Kentaro Wada / 和田 健太郎
https://wkentaro.com <http://wkentaro.com>

[2019-05-02 12:36] BCWang93 commented on #117
yes,I use the voc2012 dataset,and I don't know why I has this problem?

[2019-05-02 12:37] BCWang93 commented on #117
Btw,I trained the FCN32 network.

[2019-05-02 12:38] BCWang93 commented on #113
Hi,I trained the fcn32 network,but I also has this problem,the output of the network is always zero.

[2019-05-02 14:58] wkentaro commented on #117
Hmm, maybe because of the version of pytorch. The code in this repo is written with pytorch 0.2.0: https://github.com/wkentaro/pytorch-fcn#requirements
Maybe 1.0.0 doesn't work without changes.

[2019-05-08 09:26] BCWang93 commented on #117
Hi,I have another question!why the loss is so big?

[2019-05-08 09:48] BCWang93 opened #118 "Hi,I have a question about this line?"
https://github.com/wkentaro/pytorch-fcn/blob/97189cbccb2c9b8bd776b356a1fd4b6c03f67d79/torchfcn/trainer.py#L195
the len(data) is 1?or it is other number?why you use loss/=len(data) in there?Thanks!

[2019-05-14 14:18] wkentaro commented on #117
It is big if you don't average with the number of pixels. https://github.com/wkentaro/pytorch-fcn/blob/97189cbccb2c9b8bd776b356a1fd4b6c03f67d79/torchfcn/trainer.py#L112-L113

[2019-05-14 14:19] wkentaro commented on #118
yes

because it is proposed in the paper.

[2019-05-14 14:19] #118 closed, assigned to nobody

[2019-05-14 14:20] #117 closed, assigned to nobody

[2019-05-14 14:20] #116 closed, assigned to nobody

[2019-05-14 14:20] #92 closed, assigned to wkentaro

[2019-05-14 14:20] #78 closed, assigned to wkentaro

[2019-05-14 14:20] #83 closed, assigned to wkentaro

[2019-05-14 14:22] wkentaro commented on #84
I have no idea. Maybe pytorch default parameters can be changed in the latest version.

[2019-05-14 14:22] #85 closed, assigned to wkentaro

[2019-05-14 14:23] #112 closed, assigned to nobody

[2019-05-15 09:35] BCWang93 opened #119 "Hi,I have a question about the loss?"
this is the result of my training result,I found the loss is always a number.like this:
'
poch:[2/50], Step[490/1464],Loss:3.0447
Epoch:[2/50], Step[500/1464],Loss:3.0447
Epoch:[2/50], Step[510/1464],Loss:3.0447
Epoch:[2/50], Step[520/1464],Loss:3.0447
Epoch:[2/50], Step[530/1464],Loss:3.0447
Epoch:[2/50], Step[540/1464],Loss:3.0447
Epoch:[2/50], Step[550/1464],Loss:3.0447
Epoch:[2/50], Step[560/1

[2019-05-15 10:38] #119 closed, assigned to nobody

[2019-05-15 10:39] #115 closed, assigned to nobody

[2019-05-15 10:40] wkentaro commented on #115
Please request reopen if you still have this issue.

[2019-05-17 17:30] bhashithe opened #120 "Citing this work"
Hey how would you go about and cite this repository?

[2019-05-17 17:48] wkentaro commented on #120
I added below bib entry to the README by #121.

[code]

[2019-05-17 17:49] bhashithe commented on #120
Thank you!

[2019-05-17 18:08] #120 closed, assigned to wkentaro

[2019-05-22 01:51] jamesbondzhou opened #122 "how to test my model？"
hi，i 'd like to know how to test my model?actually the test_fcn8s.py is just a upsampling operation.

[2019-05-23 13:02] imxyu commented on #113
I met the same problem, have you solved it?

[2019-05-28 17:42] ShawnNew commented on #113
I found that the intermediate output of the network yields to zero after `conv1_1`, which uses a `padding=100`. Does anyone knows why this strange padding setting is used?

[2019-05-28 17:45] ShawnNew commented on #113
I found that in the initialization function, weights are initialized to zero, which may cause the problem. Does anyone knows why the fcn8s need to initialize all the weights to zero?

[2019-05-28 18:48] wkentaro commented on #113
Because of this https://github.com/wkentaro/pytorch-fcn/issues/40

[2019-05-29 02:44] daiyp3360 commented on #113
I didn't solve this problem yet, for these days I was tracked by some trifles, I am just going to resume this work. I do think this problem might caused by the initial strategy. i will response here as soon as i solve this problem.

[2019-06-03 02:11] BCWang93 commented on #113
Hi，Did you solved this problem?Thanks!

[2019-06-07 15:22] wkentaro commented on #122
Maybe you are looking for [evaluate.py](https://github.com/wkentaro/pytorch-fcn/blob/master/examples/voc/evaluate.py)?

[2019-06-11 02:36] chentao2016 opened #123 "ValueError: Unexpected module: FCN8sAtOnce"
Thanks for your great code. I can reach 64% with FCN8sAtOnce. However, when I try to use the FCN8sAtOnce model for my task(only part of the code related to the use the  FCN8sAtOnce), I get the ValueError: Unexpected module: FCN8sAtOnce.
I realize I could add 'FCN8sAtOnce' to the  'modules_skipped' in function get_parameters to avoid the ValueError. But it seems like the network fail to train becau

[2019-06-13 22:07] #122 closed, assigned to wkentaro

[2019-06-13 22:16] wkentaro commented on #123
First of all, the ValueError is strange, since FCN8sAtOnce is a subclass of FCN8s.
https://github.com/wkentaro/pytorch-fcn/blob/56e9249aeb2da098f9c202911569a7d562053887/torchfcn/models/fcn8s.py#L172

So below is True
[code]

Can you check more carefully why you have this error in your environment? I tested Python3.7 and Python2.7, and both worked.

[2019-06-17 11:13] chentao2016 commented on #123
Thank you for your answer, the problem solved when I add FCN8S to the 'modules_skipped' .
And is there any difference if I just git clone your project and use the torchfcn directory in the project rather than use ‘pip install torchfcn’. Because it is too complex to follow all the instruction while I just want to use the FCN8sAtOnce model.

[2019-06-19 05:23] Iamyourbaba opened #124 "TypeError: expected np.ndarray (got numpy.ndarray)"
Thank you for you effort.However, when I first run the train_fcn32s.py, some problems happen.
D:\project\fcn\pytorch-fcn-master\pytorch-fcn-master\examples\voc>python train_fcn32s.py -g 0
Traceback (most recent call last):
  File "train_fcn32s.py", line 152, in <module>
    main()
  File "train_fcn32s.py", line 108, in main
    model = torchfcn.models.FCN32s(n_class=21)
  File "D:\anaconda\lib\sit

[2019-07-01 07:28] BarryBA commented on #42
I met the following errors:
    subprocess.CalledProcessError: Command '['git', 'log', '-n', '1', '--pretty=%h']' returned non-zero exit
    status 128.
Can you tell me how to solve it?

[2019-07-03 02:13] BarryBA commented on #108
My system has installed git with 'git version 2.7.4', but I also met this error: "subprocess.CalledProcessError: Command '['git', 'log', '-n', '1', '--pretty=%h']' returned non-zero exit status 128."

[2019-07-03 05:55] wkentaro commented on #108
Maybe you downloaded the tar ball version of this repo? Instead of git
clone?

On Wed, Jul 3, 2019 at 3:13 BarryBA <notifications@github.com> wrote:

--
Kentaro Wada / 和田 健太郎
https://wkentaro.com <http://wkentaro.com>

[2019-07-03 10:18] BarryBA commented on #108
Yeah. Just as you say. I downloaded the tarball version of the repo.

[2019-07-03 11:31] wkentaro commented on #108
Please clone this repo via git.

On Wed, Jul 3, 2019 at 11:18 BarryBA <notifications@github.com> wrote:

--
Kentaro Wada / 和田 健太郎
https://wkentaro.com <http://wkentaro.com>

[2019-07-03 12:58] BarryBA commented on #108
Ok, thanks for your relpy.

[2019-07-04 14:17] sgmath12 opened #125 "Why didn't you normalize image data?"
In common setting, we normalize the data something like this  _(img - img.mean)/(img.std)_

But in your code, you didn't divide std.

Is there any reason for that?

[2019-07-06 08:24] zhengkai17 opened #126 "question:can i use my own date to train?"

[2019-07-10 01:04] nankingV commented on #126
i got the same question

[2019-07-12 03:21] XGuider opened #127 ""pip install torchfcn "have error!!--------error: can't copy 'torchfcn/ext/fcn.berkeleyvision.org': doesn't exist or not a regular file"

[2019-07-12 03:23] XGuider commented on #127
`ollecting torchfcn
  Using cached https://files.pythonhosted.org/packages/78/c3/f0db13c8b8081fa0413c7f5a627adbfb43ece99d23c1401e306a744e83c6/torchfcn-1.9.4.tar.gz
Collecting fcn>=6.1.5 (from torchfcn)
Requirement already satisfied (use --upgrade to upgrade): numpy in /usr/local/lib/python3.6/dist-packages (from torchfcn)
Requirement already satisfied (use --upgrade to upgrade): Pillow in /usr/lib

[2019-07-12 03:36] XGuider commented on #127
` Building wheel for torchfcn (setup.py) ... error
  ERROR: Complete output from command /usr/bin/python3 -u -c 'import setuptools, tokenize;__file__='"'"'/tmp/pip-install-isl53rm3/torchfcn/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d /tmp/pip-wheel-nhxlu

[2019-07-12 03:37] XGuider commented on #127
thank so much your pre-work!!
but i meet this problem......

[2019-08-05 00:17] luostars opened #130 "Cannot allocate memory (train my data)"
Hi wkentaro, sorry to bother you.
When I train my own data, I meet the error below:
<img width="925" alt="WX20190805-081434@2x" src="https://user-images.githubusercontent.com/53085204/62431310-142d5b80-b759-11e9-81c8-76fdc2c7f342.png">
[code]
All I modified is about dataset class.

Can you provide me some idea to solve the error?

[2019-08-05 04:06] luostars commented on #130
The batch_size is 1, and the shape of train image is 512x512.

Thanks and best wishes!

[2019-08-06 18:30] AlexTS1980 opened #131 "IncompatibleKeys(missing_keys=[], unexpected_keys=[]) for FCN32"
I loaded FCN32s, downloaded the pre-trained weights and tried to load them into the model:
[code]
Keep getting this error. I loaded VGG16 weights - they seem to be working fine.

[2019-08-06 19:24] AlexTS1980 opened #132 "Background problem"
I didn't have this probelm with FCN in caffe: background always dominates. Did I normalize images incorrectly?

`t=transforms.Compose([transforms.ToTensor(), transforms.Normalize(mean=[0.406, 0.456, 0.486], std=[0.225, 0.224, 0.229])])
`

This normalization should correspond to an RGB image

[code]
Yet the output is always background. What did I do wrong?

[2019-08-07 03:38] luostars commented on #130
When I set `size_average=True` in `Trainer` class, the error disappeared. But the model will not be convergence.

I will check the convergence.

[2019-08-07 03:38] #130 closed, assigned to nobody

[2019-08-08 03:34] QbaixueQ opened #133 "How to train my own dataset?"
Thank you for this repo. I tried to train with labelme-labeled pictures and I got an error:
[Errno 2] No such file or directory: '/home/cuda/data/datasets/VOC/benchmark_RELEASE/dataset/cls/000009.mat'
How should I modify the code so that it can train .png images?

Thanks

[2019-08-09 03:42] Biaocsu commented on #124
@Iamyourbaba Hi, I run into the same error, and didn't find any solution, you should have solved it now, can you help me ? thanks

[2019-08-27 08:08] BarryBA opened #134 "Question about "untransform" method in "VOCClassSegBase" class"
Thanks for your sharing repo. I have a question about the "untransform" method in "VOCClassSegBase" class of voc.py.
Why we need do the following operations to the image in the untransform?
        img = img.transpose(1, 2, 0)
        img += self.mean_bgr
Hope for your answers. Thanks!

[2019-08-28 04:18] wkentaro commented on #125
Because vgg16 doesn't, which is used as a pretrained-model for feature extraction

[2019-08-28 04:18] #125 closed, assigned to wkentaro

[2019-08-28 04:21] wkentaro commented on #132
Check here for how to transform.
https://github.com/wkentaro/pytorch-fcn/blob/eecae876130930d1261b1ae0113787ddf798abcd/torchfcn/datasets/voc.py#L80-L87

[2019-08-28 04:21] #132 closed, assigned to wkentaro

[2019-08-28 04:24] wkentaro commented on #134
This is the inverse operation of `self.transform` and used to transform RGB image back to original pixel range (0 - 255).

[2019-08-28 04:24] #134 closed, assigned to wkentaro

[2019-08-28 04:25] wkentaro commented on #131
The pre-trained model is trained with pytorch 0.2.0, so maybe it's incompatible with latest version.

[2019-08-28 04:25] wkentaro commented on #133
See https://github.com/wkentaro/pytorch-fcn/issues/126

[2019-08-28 04:25] #133 closed, assigned to nobody

[2019-08-28 04:27] wkentaro commented on #126
If you implement a dataset class similar to this,
https://github.com/wkentaro/pytorch-fcn/blob/eecae876130930d1261b1ae0113787ddf798abcd/torchfcn/datasets/voc.py#L61-L78

you can just replace the VOC dataset class with your own dataset class:
https://github.com/wkentaro/pytorch-fcn/blob/eecae876130930d1261b1ae0113787ddf798abcd/examples/voc/train_fcn32s.py#L97-L103

[2019-08-28 04:28] wkentaro commented on #127
I'm not sure how to reproduce.

[2019-08-28 04:29] #91 closed, assigned to nobody

[2019-08-28 04:29] #80 closed, assigned to nobody

[2019-08-28 04:29] #84 closed, assigned to wkentaro

[2019-08-28 04:29] #86 closed, assigned to wkentaro

[2019-08-30 05:45] BarryBA commented on #134
thanks a lot

[2019-09-04 15:03] #126 closed, assigned to wkentaro

[2019-09-24 10:17] phucvu460 commented on #113
I have the same problem with fcn32s, all output results are zeros. Anyone can help ?

[2019-10-09 02:56] LynnHg opened #138 "padding=100"
would you mind tell me why is the first conv's padding =100?( self.conv1_1 = nn.Conv2d(3, 64, 3, padding=100))

[2019-10-10 03:33] LiheYoung opened #139 "CPU memory usage is high"
The cpu memory usage is high when training on Cityscapes. I didn't crop the image, and input size is 1024x2048. Larger size may lead to higher GPU memory usage but my GPU memory usage is okay(around 11G), the cpu memory usage is high(around 80%). Sometimes it may be killed because it cannot allocate memory.

[2019-10-12 07:52] Lucksong opened #140 "The weight in deconv doesn`t update?"
In get_paramers():
def get_parameters(model, bias=False):
    import torch.nn as nn
    modules_skipped = (
        nn.ReLU,
        nn.MaxPool2d,
        nn.Dropout2d,
        nn.Sequential,
        torchfcn.models.FCN32s,
        torchfcn.models.FCN16s,
        torchfcn.models.FCN8s,
    )
    for m in model.modules():
        if isinstance(m, nn.Conv2d):
            if bias:
                yie

[2019-10-12 08:09] Lucksong opened #141 "feature map size after upsample is 2h or 2(h+1)?"
As your code 'self.upscore2 = nn.ConvTranspose2d( n_class, n_class, 4, stride=2, bias=False)' for example.
According to the deconvolution formula described in the pytorch documentation：
Hout=(Hin−1)∗stride[0]−2∗padding[0]+kernel_size[0]+output_padding[0]

Hout should be 2*(Hin+1) not 2*Hin

[2019-10-12 17:44] wkentaro commented on #138
Please refer to https://github.com/wkentaro/pytorch-fcn/issues/40

[2019-10-12 17:44] #138 closed, assigned to wkentaro

[2019-10-12 17:46] wkentaro commented on #139
Maybe this visualized image is too large in your case?
https://github.com/wkentaro/pytorch-fcn/blob/e86a0f08bbc6fa4033b1e9d15c8ddb70a9537bb5/torchfcn/trainer.py#L126-L129

Those visualized images are tiled to create another large image.
https://github.com/wkentaro/pytorch-fcn/blob/e86a0f08bbc6fa4033b1e9d15c8ddb70a9537bb5/torchfcn/trainer.py#L133-L137

[2019-10-12 17:46] wkentaro commented on #140
Yeah, it's frozen.

[2019-10-12 17:46] #140 closed, assigned to wkentaro

[2019-10-13 02:52] Lucksong commented on #140
But why？

[2019-10-13 05:25] LynnHg commented on #138
thanks！

[2019-10-13 12:27] wkentaro commented on #140
According to the authors, they said it didn't change the final result very much. That was probably because deconvolution layers are difficult to train in general (compared to standard convolutional layer).

[2019-10-13 12:28] Lucksong commented on #141
So,2*(h+1) is right?  Shouldn`t it be 2*h?

[2019-10-29 07:44] Lucksong opened #142 "weight returned by get_upsampling_weight?"
weight[range(in_channels),range(out_channels),:,:,] = filt
if in_channels is not equal to out_channels, the code reported an error "IndexError: shape mismatch: indexing arrays could not be broadcast together with shapes (32,) (64,)"
if in_channels is equal to out_channels, only Inchannels convolution kernel are initilized ,shouldn`t  inchannels*outchannels convolution kernel be initilized?

[2019-11-01 03:14] BangguWu opened #143 "About download datasets"
Why do I need to download benchmark.tgz and voc at the same time?what is the difference between them?

[2019-11-20 02:20] prfans commented on #113
I have the same problem, all output results are zeros. Anyone can help ?

[2019-11-21 07:12] prfans opened #144 "I have the same problem, all output results are zeros. Anyone can help ?"
I have the same problem, all output results are zeros. Anyone can help ?

_Originally posted by @prfans in https://github.com/wkentaro/pytorch-fcn/issues/113#issuecomment-555805034_

I used the pretrained fcn8s/fcn16s/fcn32s model, all output results are zeros.

[2019-11-24 23:58] luthfianto commented on #124
It's also happening to me on numpy 1.17.4, my own solution is to downgrade to 1.16.4

[2019-11-28 06:45] Iamyourbaba commented on #124
thanks a lot

---Original---
From: "Rizky Luthfianto"<notifications@github.com&gt;
Date: Mon, Nov 25, 2019 07:58 AM
To: "wkentaro/pytorch-fcn"<pytorch-fcn@noreply.github.com&gt;;
Cc: "Iamyourbaba"<1220098768@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [wkentaro/pytorch-fcn] TypeError: expected np.ndarray (got numpy.ndarray) (#124)

It's also happening to me on numpy 1.17.4, m

[2019-12-04 11:05] luistelmocosta opened #145 "Load FCN8 weights"
How can I load FCN8 weights for a network with a different ouput than the one used to train original FCN8 on VOC dataset?

I downloaded the `fcn8s_from_caffe.pth` file and I want to load those weights on a network with `num_classes=1`.

How can I do that?

[2019-12-19 22:22] Niloy-Chakraborty commented on #40
I have another issue. I am writing the code in keras/ tf.keras.
How can I add the padding=100, as it seems, keras has padding= same, valid

[2019-12-19 22:30] Niloy-Chakraborty commented on #138
Do you know how to add padding=100, in Keras?

[2020-01-17 06:29] songyuc opened #146 "Why the parameter of bias is set False to nn.ConvTranspose2d() in fcn8s.py?"
Hi guys!
I am studying about the fcn8s.py,
and I want to know why the parameter of bias is set False to nn.ConvTranspose2d() in fcn8s.py?

Any answer and idea will be appreciated!

[2020-01-17 06:42] songyuc commented on #144
Hi, @prfans ,
so which model did you use?

[2020-01-17 06:45] songyuc commented on #113
Hi, @daiyp3360xxxxxisxxxxxxmine ,
have figure out the problem yet?

[2020-01-17 06:49] songyuc commented on #113
Hi @wkentaro ,
I think #40 may have no relation to the initiation strategy, so it cannot account for the problem here.

[2020-02-09 07:26] super233 commented on #141
Hi, Has your question been solved? @Lucksong
I also want to know why it not be `2*Hin` but `2*(Hin+1)`.

[2020-02-09 16:59] gniknoil opened #147 "The begining index to crop output images in fcn32s.py"
After deconvolution, the size of output is much bigger than input. However, I wonder why the begining index to crop output is set to 19. According to my analysis,  I think maybe 16 is more reasonable. Can anyone explain why? Thanks!

[2020-02-10 09:49] WMF1997 commented on #40
what about using ```tf.layers.conv2d```??

[2020-02-15 06:46] LIYHUI commented on #127
I meet this problem too,have you solved it?

[2020-02-15 17:25] wkentaro commented on #127
I guess you need to upgrade pip and setuptools:
[code]

[2020-02-16 13:35] LIYHUI opened #148 "Where is torchfcn‘s DOCs?"

[2020-02-18 03:26] LIYHUI commented on #143
I want to know it too,have you understanded it?

[2020-02-20 06:19] #148 closed, assigned to nobody

[2020-02-23 17:30] Gunnvant commented on #147
I am having the same doubt. In every implementation I see this cropping scheme. Any particular reason for this? Does this have anything to do with alignment of pixels?

[2020-02-24 01:41] Gunnvant commented on #97
Where are the numbers 198 and 38 coming from?

[2020-03-15 15:09] lqxisok opened #149 "excelent work"
You are realy a little genius.

[2020-03-15 15:10] #149 closed, assigned to nobody

[2020-03-19 10:54] hylovezhang opened #150 "I use vgg16 pretrained model to train ,but the result of fcn32s is zero, can you help me?"
Hi, guys.
I use vgg16 pretrained model to train ,but the result of fcn32s is zero, can you help  #me?[](url)

[2020-03-25 08:39] hylovezhang commented on #113
I have same problem, did you solve it? @daiyp3360xxxxxisxxxxxxmine

[2020-03-25 08:59] hylovezhang commented on #52
Can you help me ? why i use the vgg16_from caffe model to train , the result of testing is zero? @zijundeng

[2020-03-26 00:54] hylovezhang commented on #123
I have questions of training, can you help me? @chentao2016

[2020-03-26 01:01] hylovezhang commented on #144
I also have this questions, can you help me? @songyuc

[2020-03-26 07:11] tengjunvan commented on #141
I'm confused as well. I think there is something to do with the input data because I notice a slice operation of "h" in forward.

[2020-03-26 08:03] songyuc commented on #144
Hi, @hylovezhang, I have turned to DeepLabV3+ recently, and in fact I didn't run the FCN model.
Sorry for that.

[2020-04-26 09:24] louis-marchant opened #151 "Small question about score_pool3 and score_pool4 in FCN8"
Hi! I have a small question. Why is the score_pool4 and score_pool3 multiplied with 0.01 and 0.0001 respectively?

Can be seen here:
https://github.com/wkentaro/pytorch-fcn/blob/master/torchfcn/models/fcn8s.py#L222-L230

I don't understand the comment "# XXX: scaling to train at once"

[2020-04-26 09:28] louis-marchant commented on #151
Never mind, I can see it is also done in the original implementation and thus this repo isn't the right place to ask this question.

Can be seen in original implementation here:
https://github.com/shelhamer/fcn.berkeleyvision.org/blob/master/voc-fcn8s-atonce/net.py#L65-L79

[2020-04-26 09:28] #151 closed, assigned to nobody

[2020-05-05 18:52] fredpeertje opened #152 "Running custom datasets"
I'm trying to train the fcn8s model on a dataset but get the following runtime error:

RuntimeError: shape '[1, 573, 447, 1]' is invalid for input of size 768393

Solution: I used mask images with the RGB format. Converted it to grayscale with range [0,11] (12 classes)

[2020-05-13 17:19] #152 closed, assigned to nobody

[2020-06-18 08:12] rgd66 opened #153 "I can't run the train_fcn32s."
The problem is this:
subprocess.CalledProcessError: Command '['git', 'log', '-n', '1', '--pretty=%h']' returned non-zero exit status 128.
Anyone can help me ?

[2020-06-30 11:30] Wenenen opened #154 "requests.exceptions.ConnectionError"
When I ran ./train_fcn32s.py -g 0，I got this error
Traceback (most recent call last):
  File "/home/jbwen/anaconda3/envs/py36/lib/python3.6/site-packages/urllib3/connection.py", line 160, in _new_conn
    (self._dns_host, self.port), self.timeout, **extra_kw
  File "/home/jbwen/anaconda3/envs/py36/lib/python3.6/site-packages/urllib3/util/connection.py", line 84, in create_connection
    raise err

[2020-07-02 07:37] Yuanggyy commented on #153
you can try to git clone https://github.com/wkentaro/pytorch-fcn.git

[2020-07-27 02:42] JJ-res101 opened #155 "Final layer deconvolutional filters are not fixed"
In paper, Final layer deconvolutional filters are fixed to bilinear inertpolation. But I found this implement don't do that.Is that right?

[2020-08-13 02:20] who1129 opened #156 "what's this -1 meaning??"
# load label
        lbl_file = data_file['lbl']
        lbl = PIL.Image.open(lbl_file)
        lbl = np.array(lbl, dtype=np.int32)
        lbl[lbl == 255] = -1
        if self._transform:
            return self.transform(img, lbl)
        else:
            return img, lbl
I found this code on voc.py dataset class.
Can you tell me what this -1 value means??

[2020-08-13 06:11] #156 closed, assigned to nobody

[2020-09-26 02:31] 2679622694 commented on #154
I have the same question！

[2020-11-16 09:16] wangfusheng-cqu commented on #153
Did you solve the problem,I meet the same problrm.

[2020-11-21 06:19] songzijiang commented on #154
me too

[2020-11-26 12:39] shi-10 commented on #154
have you solved it?

[2020-11-27 01:52] songzijiang commented on #154
i solved it by using models locally.Some place cannot connect the google server such as China.and Then i overwrite the function which calls the service from drive.google.

[2020-11-28 01:37] shi-10 commented on #154
ok~,thank you

[2020-11-29 06:50] msy1412 opened #157 "Why the padding of first conv layer in FCN32s is 100?"
I wonder why the padding of first conv layer in FCN32s is 100?
FCN32s(
  (conv1_1): Conv2d(3, 64, kernel_size=(3, 3), stride=(1, 1), padding=(100, 100))
I am a newcomer in ML.Can you give me some answer? Thank you for advance

[2020-12-30 16:42] heng-yuwen commented on #157
It's from the original code at https://github.com/shelhamer/fcn.berkeleyvision.org/blob/master/voc-fcn16s/net.py

[2021-01-04 08:57] WeiShi-9 commented on #71
you can try pip install fcn, fcn is a package name of python. good luck

[2021-01-04 13:23] msy1412 commented on #157
emm.....I still don't  understand  why the padding of first conv layer in FCN32s is 100?

[2021-01-05 11:01] heng-yuwen commented on #157
To make sure the network can take input with any size. The pooling layer will down sample the input so there is a limit of the input sample size. With padding, we can take inputs of any size, for example, 16*16 image. At the output, we crop the desired part which has the same shape as input.

[2021-01-27 06:18] wkentaro commented on #155
It's frozen here
https://github.com/wkentaro/pytorch-fcn/blob/e86a0f08bbc6fa4033b1e9d15c8ddb70a9537bb5/examples/voc/train_fcn32s.py#L42

[2021-01-27 06:20] wkentaro commented on #153
Below should work

[code]

[2021-01-27 06:20] #153 closed, assigned to nobody

[2021-02-04 18:35] #155 closed, assigned to nobody

[2021-04-25 13:10] dmndxld opened #159 "Hello, I got some problems when I was training."
I was running the code on google colab. I downloaded the dataset by "!sh ./download_dataset.sh".   ##Use the command "!python ./train_fcn32s.py -g 0". And I got the problem. Here is the error sign.

fatal: not a git repository (or any parent up to mount point /content)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
Traceback (most recent call last):
  File "./train_fcn3

[2021-05-19 03:57] #159 closed, assigned to nobody

[2021-05-23 09:03] nothinghua commented on #145
Can you send me the `fcn8s_from_caffe.pth`, my email is 1114605389@qq.com. If it is possible, I will be very grateful to you.

[2021-05-30 07:35] BlackDriver opened #160 "Pretrained model 404"
I tried to open http://drive.google.com/uc?id=0B9P1L--7Wd2vVGE3TkRMbWlNRms but get 404 for result

[2021-06-10 02:32] lyw615 opened #161 "What h[:, :, 31:31 + x.size()[2], 31:31 + x.size()[3]] mean?"
It looks like array slice, but what 31 means?   And   'h[:, :, 5:5 + upscore2.size()[2], 5:5 + upscore2.size()[3]]'  also confuses me

[2021-06-11 14:33] oksidgy commented on #160
I downloaded weights from the torch official hub.
Simply It needs to set parameter "pretrained" == True:  torchvision.models.vgg16(pretrained=True)

In torchfcn/models/vgg.py

[code]

[2021-06-22 06:08] skylark36 commented on #160
same problem

[2021-06-24 09:00] sss07 commented on #160
I try to download the pretrained FCN models but  get 404 for result.

[2021-07-06 07:41] ArthurRyan0803 commented on #160
What's the difference between the pytorch offical pretrained model and the model provided here?

[2021-07-26 22:25] mailvijayasingh commented on #161
were you able to understand this?

[2021-07-27 00:52] lyw615 commented on #161
This is 4D array slice. But it makes  no sense for  index 31

[2021-08-29 08:18] FRANK-RAN commented on #161
but why 5:5 + upscore2.size()[2]? i do not understand why plus 5.

[2021-11-02 07:53] liul-ing opened #163 "no module named "fcn""
the code  ”import fcn“ can lead the error：”no module named fcn“，what should i do？

[2021-11-02 09:08] liul-ing opened #164 "fcn.utils.visualize_segmentation,where the visualize_segmentation function?"
"viz = fcn.utils.visualize_segmentation(lbl_pred=lp, lbl_true=lt, img=img, n_class=n_class)  " in the validate function in trainer.py,i can not find the visulaize_segmentation function.could you please tell me about my questions?

[2021-11-06 07:00] liul-ing commented on #144
can you run the code?i have lots of problems  about this code.Could you please share me your code?

[2021-11-06 07:02] liul-ing commented on #144
my email:1562112553@qq.com  Tank you very match

[2021-11-06 07:03] liul-ing commented on #113
can you run the code?i have lots of problems about this code.Could you please share me your code?My email：1562112553@qq.com。Thank you very much!!!

[2021-11-06 11:15] wkentaro commented on #164
Please follow the instruction.
https://github.com/wkentaro/pytorch-fcn#installation

[2021-11-06 11:15] #164 closed, assigned to wkentaro

[2021-11-06 11:15] wkentaro commented on #163
Please follow the instruction.
https://github.com/wkentaro/pytorch-fcn#installation

[2021-11-06 11:15] #163 closed, assigned to wkentaro

[2021-11-24 15:19] Shajiu opened #165 "这是怎么处理的？"
Traceback (most recent call last):
  File "demo.py", line 59, in <module>
    demo(args)
  File "demo.py", line 45, in demo
    model = get_model(args.model, local_rank=args.local_rank, pretrained=True, root=args.save_folder).to(device)
  File "E:\Python_Projects\awesome-semantic-segmentation-pytorch-master\core\models\model_zoo.py", line 83, in get_model
    net = _models[name](**kwargs)
  File "

[2022-03-27 12:32] zsxzs opened #166 "I cannot find a name (osp)"
pretrained_model = \ osp.expanduser('~/data/models/pytorch/fcn32s_from_caffe.pth')
How does this line of code work

[2022-03-27 12:32] YCakira commented on #166
这是来自QQ邮箱的自动回复邮件。嗨，这里是吴颖的信箱。谢谢你的来信，我将会尽快给你回复。

[2022-03-27 13:47] #166 closed

[2022-04-24 02:09] Haoyanlong commented on #161
@lyw615 @FRANK-RAN I also do not understand the index of slice, 5 and 31?Do you understand the params?Could you tell me?Thanck you very much!

[2022-05-18 04:44] peacemo commented on #152
Hi, I come across this problem on CamVid dataset. Would you please be more specific about how to solve this problem. Thank you.

[2022-05-18 04:45] YCakira commented on #152
这是来自QQ邮箱的自动回复邮件。嗨，这里是吴颖的信箱。谢谢你的来信，我将会尽快给你回复。

[2022-10-09 11:01] zyongqing commented on #161
cut padding

[2022-10-09 11:02] YCakira commented on #161
这是来自QQ邮箱的自动回复邮件。嗨，这里是吴颖的信箱。谢谢你的来信，我将会尽快给你回复。

[2022-10-22 03:45] eadstry opened #167 "Gradient explosion occurs after modifying the weight initialization method"
I wanted to change the initialization method of the convolution from 0 to a positive-terrestrial distribution, but this led to a gradient explosion after a few iters.Why does this happen?